#AboutSection3 {
    contain: paint;
    // will-change: transform;
}

html,
body {
    overscroll-behavior: none;
}

.pill-container {
    border-radius: 28px;
    overflow: hidden;
}

.solution3About-pill {
    border: 2px solid transparent;
    border-radius: 28px;
    overflow: hidden;

    border-image: linear-gradient(90deg, #F2CE2C, #25E9F7) 1;

    background: transparent;

    padding: 0.6rem 1.5rem;
    color: #fff;
}

.solution3About-pill>legend {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
}


.solution3About-pill span {
    position: relative;
    z-index: 1;
    background: transparent;
}