<div id="AboutSection3" #AboutSection3
    class="grid grid-cols-12 grid-rows-12 gap-0.5 w-full h-[100vh] relative bg-[var(--primary)] relative">

    <div #DivisionsTrigger class="contents">
        <div class="contents relative">
            <div class="scroll-bg-section h-screen  w-full col-start-1 row-start-1 row-span-12 col-span-12 inset-0 bg-cover bg-center z-[-2]"
                [ngStyle]="{ 'background-image': `url('${sections[0]?.bgUrl}')` }">
            </div>

            <div id="Image-logo"
                class="absolute scroll-bg-section-text flex col-start-2 row-start-13 row-span-3 col-span-4 justify-center items-center flex-col">
                <div class="relative">
                    <svg width="676" height="115" viewBox="0 0 676 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M652.229 0.5H660.834C668.435 0.5 674.594 6.67258 674.594 14.2902V100.71C674.594 108.327 668.435 114.5 660.834 114.5L14.2605 114.5C6.65928 114.5 0.499997 108.327 0.499997 100.71L0.500037 14.2949C0.500037 6.67722 6.65932 0.504618 14.2605 0.504618H585.26"
                            stroke="url(#paint0_linear_168_211)" stroke-miterlimit="10" />
                        <defs>
                            <linearGradient id="paint0_linear_168_211" x1="446.982" y1="104.368" x2="675.373"
                                y2="104.368" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD41F" />
                                <stop offset="0.69" stop-color="#65C0B9" />
                                <stop offset="1" stop-color="#1FFFFF" />
                            </linearGradient>
                        </defs>
                        <foreignObject x="20" y="18" width="636" height="90">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="direction: rtl; font-size: 14px; line-height: 1.6; color: white;">
                                <p style="margin:0;">
                                    توفير شراكة مستدامة مع عملائنا، وأن نكون شركاء حقيقيين لهم في التقدم والنجاح وتحقيق
                                    التنمية
                                    المستدامة لأعمالهم التجارية،
                                    من خلال توظيف خبراتنا العميقة في البرمجيات وتنفيذ حلول التطبيقات المتكاملة. نحن نؤمن
                                    أن
                                    دورنا لا
                                    ينتهي عند إتمام عملية البيع،
                                    بل يبدأ منها، لأن نجاح عملائنا بعد التنفيذ هو جوهر مهمتنا، ومقياسنا الحقيقي للإنجاز.
                                </p>
                            </div>
                        </foreignObject>
                    </svg>


                    <span class="text-[var(--secondary)] absolute -top-5 right-8 text-[1.3rem] font-bold">رؤيتنا</span>
                </div>
            </div>
        </div>

        <div class="contents relative">
            <div class="scroll-bg-section1 h-screen  w-full col-start-1 row-start-1 row-span-12 col-span-12 inset-0 bg-cover bg-center z-[-2]"
                [ngStyle]="{ 'background-image': `url('${sections[1]?.bgUrl}')` }">
            </div>

            <div id="Image-logo"
                class="absolute  scroll-bg-section-text1 flex col-start-2 row-start-13 row-span-3 col-span-4 justify-center items-center flex-col">
                <div class="relative">
                    <svg width="676" height="115" viewBox="0 0 676 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M652.229 0.5H660.834C668.435 0.5 674.594 6.67258 674.594 14.2902V100.71C674.594 108.327 668.435 114.5 660.834 114.5L14.2605 114.5C6.65928 114.5 0.499997 108.327 0.499997 100.71L0.500037 14.2949C0.500037 6.67722 6.65932 0.504618 14.2605 0.504618H585.26"
                            stroke="url(#paint0_linear_168_211)" stroke-miterlimit="10" />
                        <defs>
                            <linearGradient id="paint0_linear_168_211" x1="446.982" y1="104.368" x2="675.373"
                                y2="104.368" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD41F" />
                                <stop offset="0.69" stop-color="#65C0B9" />
                                <stop offset="1" stop-color="#1FFFFF" />
                            </linearGradient>
                        </defs>
                        <foreignObject x="20" y="18" width="636" height="90">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="direction: rtl; font-size: 14px; line-height: 1.6; color: white;">
                                <p style="margin:0;">
                                    تمكين شركائنا وعملائنا من التطور والنجاح من خلال تقديم حلول ERP متكاملة تساعدهم في
                                    سرعة
                                    اتخاذ
                                    القرارات لتحقيق النمو والتطور المستمر من خلال ضمان سلاسة العمليات.
                                </p>
                            </div>
                        </foreignObject>
                    </svg>


                    <span class="text-[var(--secondary)] absolute -top-5 right-7 text-[1.3rem] font-bold">مهمتنا</span>
                </div>
            </div>
        </div>

        <div class="contents relative">
            <div class="scroll-bg-section2 h-screen  w-full col-start-1 row-start-1 row-span-12 col-span-12 inset-0 bg-cover bg-center z-[-2]"
                [ngStyle]="{ 'background-image': `url('${sections[2]?.bgUrl}')` }">
            </div>

            <div id="Image-logo"
                class="absolute  scroll-bg-section-text2 flex col-start-2 row-start-13 row-span-3 col-span-4 justify-center items-center flex-col">
                <div class="relative">
                    <svg width="676" height="115" viewBox="0 0 676 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M652.229 0.5H660.834C668.435 0.5 674.594 6.67258 674.594 14.2902V100.71C674.594 108.327 668.435 114.5 660.834 114.5L14.2605 114.5C6.65928 114.5 0.499997 108.327 0.499997 100.71L0.500037 14.2949C0.500037 6.67722 6.65932 0.504618 14.2605 0.504618H585.26"
                            stroke="url(#paint0_linear_168_211)" stroke-miterlimit="10" />
                        <defs>
                            <linearGradient id="paint0_linear_168_211" x1="446.982" y1="104.368" x2="675.373"
                                y2="104.368" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFD41F" />
                                <stop offset="0.69" stop-color="#65C0B9" />
                                <stop offset="1" stop-color="#1FFFFF" />
                            </linearGradient>
                        </defs>

                        <foreignObject x="20" y="18" width="636" height="90">
                            <div xmlns="http://www.w3.org/1999/xhtml"
                                style="direction: rtl; font-size: 14px; line-height: 1.6; color: white;">
                                <p style="margin:0;">
                                    نؤمن بأن النجاح ينبع من إدارة العمليات بذكاء وفعالية. نحن ملتزمون بتقديم حلول ERP
                                    ذكية و
                                    شاملة
                                    تساعد الشركات على تحقيق أهدافها بكفاءة عالية.
                                </p>
                            </div>
                        </foreignObject>
                    </svg>


                    <span class="text-[var(--secondary)] absolute -top-5 right-7 text-[1.3rem] font-bold">رسالتنا</span>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute top-51 -right-9">
        <img src="./About us/Rectangle.svg" alt="blue ball">
    </div>
</div>


<!-- <div class="flex justify-center items-center flex-col gap-10 w-full h-screen relative bg-red-500"> -->
<!-- <div class="relative">
            <svg width="676" height="115" viewBox="0 0 676 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M652.229 0.5H660.834C668.435 0.5 674.594 6.67258 674.594 14.2902V100.71C674.594 108.327 668.435 114.5 660.834 114.5L14.2605 114.5C6.65928 114.5 0.499997 108.327 0.499997 100.71L0.500037 14.2949C0.500037 6.67722 6.65932 0.504618 14.2605 0.504618H585.26"
                    stroke="url(#paint0_linear_168_211)" stroke-miterlimit="10" />
                <defs>
                    <linearGradient id="paint0_linear_168_211" x1="446.982" y1="104.368" x2="675.373" y2="104.368"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFD41F" />
                        <stop offset="0.69" stop-color="#65C0B9" />
                        <stop offset="1" stop-color="#1FFFFF" />
                    </linearGradient>
                </defs>
                <foreignObject x="20" y="18" width="636" height="90">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="direction: rtl; font-size: 14px; line-height: 1.6; color: white;">
                        <p style="margin:0;">
                            توفير شراكة مستدامة مع عملائنا، وأن نكون شركاء حقيقيين لهم في التقدم والنجاح وتحقيق التنمية
                            المستدامة لأعمالهم التجارية،
                            من خلال توظيف خبراتنا العميقة في البرمجيات وتنفيذ حلول التطبيقات المتكاملة. نحن نؤمن أن
                            دورنا لا
                            ينتهي عند إتمام عملية البيع،
                            بل يبدأ منها، لأن نجاح عملائنا بعد التنفيذ هو جوهر مهمتنا، ومقياسنا الحقيقي للإنجاز.
                        </p>
                    </div>
                </foreignObject>
            </svg>


            <span class="text-[var(--secondary)] absolute -top-5 right-8 text-[1.3rem] font-bold">رؤيتنا</span>
        </div> -->
<!-- <div class="relative">
            <svg width="676" height="115" viewBox="0 0 676 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M652.229 0.5H660.834C668.435 0.5 674.594 6.67258 674.594 14.2902V100.71C674.594 108.327 668.435 114.5 660.834 114.5L14.2605 114.5C6.65928 114.5 0.499997 108.327 0.499997 100.71L0.500037 14.2949C0.500037 6.67722 6.65932 0.504618 14.2605 0.504618H585.26"
                    stroke="url(#paint0_linear_168_211)" stroke-miterlimit="10" />
                <defs>
                    <linearGradient id="paint0_linear_168_211" x1="446.982" y1="104.368" x2="675.373" y2="104.368"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFD41F" />
                        <stop offset="0.69" stop-color="#65C0B9" />
                        <stop offset="1" stop-color="#1FFFFF" />
                    </linearGradient>
                </defs>
                <foreignObject x="20" y="18" width="636" height="90">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="direction: rtl; font-size: 14px; line-height: 1.6; color: white;">
                        <p style="margin:0;">
                            تمكين شركائنا وعملائنا من التطور والنجاح من خلال تقديم حلول ERP متكاملة تساعدهم في سرعة
                            اتخاذ
                            القرارات لتحقيق النمو والتطور المستمر من خلال ضمان سلاسة العمليات.
                        </p>
                    </div>
                </foreignObject>
            </svg>


            <span class="text-[var(--secondary)] absolute -top-5 right-7 text-[1.3rem] font-bold">مهمتنا</span>
        </div> -->
<!-- <div class="relative">
            <svg width="676" height="115" viewBox="0 0 676 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M652.229 0.5H660.834C668.435 0.5 674.594 6.67258 674.594 14.2902V100.71C674.594 108.327 668.435 114.5 660.834 114.5L14.2605 114.5C6.65928 114.5 0.499997 108.327 0.499997 100.71L0.500037 14.2949C0.500037 6.67722 6.65932 0.504618 14.2605 0.504618H585.26"
                    stroke="url(#paint0_linear_168_211)" stroke-miterlimit="10" />
                <defs>
                    <linearGradient id="paint0_linear_168_211" x1="446.982" y1="104.368" x2="675.373" y2="104.368"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFD41F" />
                        <stop offset="0.69" stop-color="#65C0B9" />
                        <stop offset="1" stop-color="#1FFFFF" />
                    </linearGradient>
                </defs>

                <foreignObject x="20" y="18" width="636" height="90">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="direction: rtl; font-size: 14px; line-height: 1.6; color: white;">
                        <p style="margin:0;">
                            نؤمن بأن النجاح ينبع من إدارة العمليات بذكاء وفعالية. نحن ملتزمون بتقديم حلول ERP ذكية و
                            شاملة
                            تساعد الشركات على تحقيق أهدافها بكفاءة عالية.
                        </p>
                    </div>
                </foreignObject>
            </svg>


            <span class="text-[var(--secondary)] absolute -top-5 right-7 text-[1.3rem] font-bold">رسالتنا</span>
        </div> -->
<!-- </div> -->