#AboutSection3 {
    contain: paint;
    /* يعزل إعادة الرسم ويقلل الجليتش */
    will-change: transform;
    /* يساعد مع pinType=transform */
}

html,
body {
    overscroll-behavior: none;
    /* يقلل سحب/ارتداد في الموبايل */
}



.solution3About-pill {
    display: inline-flex;
    padding: 0.6rem 1.5rem;
    border-radius: 28px;
    position: relative;
    font-size: 1rem;
    color: white;
}

.solution3About-pill::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(90deg, #F2CE2C, #25E9F7);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.solution3About-pill span {
    position: relative;
    z-index: 1;
    background: transparent;
}