#hero-title,
#hero-subtitle,
#hero-details,
#button1,
#button2 {
  opacity: 0;
  visibility: hidden;
}

#hero {
  background-color: transparent;
}

.hero-placeholder {
  width: 100%;
  height: 100%;
  background: transparent;
}
