<section id="productsection3" class="relative w-full h-screen  ">
    <div class="h-full w-full grid grid-rows-6 grid-flow-col">
        <div class=" gap-2 row-start-2 row-span-1 ps-11 md:ps-14 lg:ps-28">
            <h1 id="productsection3-title1"
                class="font-bold text-[1.2rem] md:text-[1.4rem] lg:text-[1.5rem] xl:text-[1.8rem] text-[var(--white)] pb-[0.7rem]">
                {{ 'PRODUCTS.SECTION7.MAINTITLE' | translate }}
            </h1>
            <h2 id="productsection3-title2"
                class="text-[var(--secondary)] text-[1.1rem] md:text-[1.3rem] lg:text-[1.4rem] xl:text-[1.7rem] font-bold text-start  w-full">
                {{ 'PRODUCTS.SECTION3.TITLE11' | translate }}
                <br>
                {{ 'PRODUCTS.SECTION3.TITLE12' | translate }}
            </h2>
            <p id="productsection3-title2-p1"
                class="text-[var(--white)] text-[0.6rem]  md:text-[0.8rem] lg:text-[1rem] xl:text-[1.3rem] font-bold text-start w-full">
                {{ 'PRODUCTS.SECTION3.TITLE2.p1' | translate }}
            </p>
            <p id="productsection3-title2-p2"
                class="text-[var(--white)] text-[0.6rem]  md:text-[0.8rem] lg:text-[1rem] xl:text-[1.3rem] font-bold text-start  w-full">
                {{ 'PRODUCTS.SECTION3.TITLE2.p2' | translate }}
            </p>
            <p id="productsection3-title2-p3"
                class="text-[var(--white)] text-[0.6rem]  md:text-[0.8rem] lg:text-[1rem] xl:text-[1.3rem] font-bold text-start w-full">
                {{ 'PRODUCTS.SECTION3.TITLE2.p3' | translate }}
            </p>
            <p id="productsection3-title2-p3"
                class="text-[var(--white)] text-[0.6rem]  md:text-[0.8rem] lg:text-[1rem] xl:text-[1.3rem] font-bold text-start w-full">
                {{ 'PRODUCTS.SECTION3.TITLE2.p4' | translate }}
            </p>

        </div>
    </div>
    <div class="absolute w-full h-full inset-0 left-0 right-0 top-0 -z-10 overflow-hidden">
        <img id="productsection3-img" src="./product/cost-reduction.webp" loading="lazy"
            class="left-0 right-0 h-[100vh] w-full absolute -z-1" style="object-fit: fill;">
    </div>
</section>