#productsection3-title,
#productsection3-title2-p1,
#productsection3-title2-p2,
#productsection3-title2-p3 {
    opacity: 0;
    visibility: hidden;
}

#productsection3 {
    background-color: white;
}

#productsection3-img {
    opacity: 0;
}