.navbar {
    position: fixed;
    top: 0;
    height: auto;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    // will-change: auto;
}

#hamprgerButton {
    visibility: hidden;
}

@media (max-width: 765px) {
    .navSmallScreen {
        background: inherit; // ✅ أهم سطر
    }

    nav {
        background-color: inherit; // ✅ المنيو تورّث نفس الخلفية
    }

    header.navbar {
        overflow: visible;
    }

    nav {
        // transform: translateY(-150px);
        transform: translateY(-100%);
        position: absolute;
        background-color: var(--white);
        z-index: 40;
        top: 590%;
        display: none;
        visibility: visible;
        transition: height 0.25s ease;
    }

    #hamprgerButton {
        visibility: visible;
    }

    .navSmallScreen {
        position: relative;
        z-index: 50;
        background-color: var(--white);
    }

    .navbar {
        background-color: var(--white);
    }
}