.navbar {
    position: fixed;
    top: 0;
    height: auto;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    // will-change: auto;
}

#hamprgerButton {
    visibility: hidden;
}

@media (max-width: 768px) {
    .navSmallScreen {
        background: inherit; // ✅ أهم سطر
    }

    nav {
        background-color: inherit; // ✅ المنيو تورّث نفس الخلفية
    }

    header.navbar {
        overflow: visible;
    }

    // .navbar>div {
    //     position: relative;
    // }

    nav {
        // transform: translateY(-150px);
        transform: translateY(-101%);
        // position: absolute;
        position: relative;
        background-color: var(--white);
        z-index: 40;
        // top: 570%;
        display: none;
        visibility: visible;
        transition: height 0.25s ease;
    }

    #hamprgerButton {
        visibility: visible;
    }

    .navSmallScreen {
        position: relative;
        z-index: 50;
        background-color: var(--white);
    }

    .navbar {
        background-color: var(--white);
    }
}

.nav-active {
    color: #F4B942;
    animation: glowing 1.5s infinite ease-in-out;
    text-shadow: 0 0 8px rgba(255, 210, 105, 0.8);
    font-weight: bold;

}

a:hover {
    font-weight: bold;
}

// @keyframes glowing {

//     0%,
//     100% {
//         text-shadow: 0 0 8px rgba(255, 210, 105, 0.8), 0 0 16px rgba(255, 210, 105, 0.5);
//         font-weight: bold;
//     }

//     50% {
//         text-shadow: 0 0 14px rgba(255, 210, 105, 1), 0 0 30px rgba(255, 210, 105, 0.8);
//         font-weight: 600;
//     }
// }
@keyframes glowing {

    0%,
    100% {
        text-shadow: 0 0 8px rgba(255, 210, 105, 0.8), 0 0 16px rgba(255, 210, 105, 0.5);
        transform: translateY(0);
    }

    50% {
        text-shadow: 0 0 14px rgba(255, 210, 105, 1), 0 0 30px rgba(255, 210, 105, 0.8);
        transform: translateY(-0.5px);
    }
}


// #Text2:hover {

// }