.navbar {
    position: fixed;
    top: 0;
    height: auto;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    opacity: 0;
    will-change: auto;
}

#hamprgerButton {
    visibility: hidden;
}

@media (max-width: 765px) {

    nav {
        transform: translateY(-150px);
        position: absolute;
        background-color: white;
        z-index: 40;
        visibility: visible;
    }

    // nav {
    //     transition: opacity 0.4s ease, visibility 0.4s ease;
    //     opacity: 1;
    //     visibility: visible;
    // }

    // nav.closed {
    //     opacity: 0;
    //     visibility: hidden;
    // }

    #hamprgerButton {
        visibility: visible;
    }

    .navSmallScreen {
        position: absolute;
        z-index: 50;
    }
}