.navbar {
    position: fixed;
    top: 0;
    height: auto;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    will-change: auto;
}

#hamprgerButton {
    visibility: hidden;
}

@media (max-width: 765px) {

    nav {
        transform: translateY(-150px);
        position: absolute;
        background-color: white;
        z-index: 40;
        visibility: visible;
    }

    #hamprgerButton {
        visibility: visible;
    }

    .navSmallScreen {
        position: absolute;
        z-index: 50;
    }
}