<!-- <section class="min-h-screen">
    <div class="w-full md:w-[70%] text-center md:text-right z-10">
        <h1 id="title"
            class="text-4xl md:text-[2rem] lg:text-[2.6rem] xl:text-[3rem] font-bold leading-snug text-white">
            هذا ما يجعل المتمم مختلفًا عن أي ERP آخر </h1>
            <div>أ</div>
            <div>خ</div>
            <div>ر</div>

        <p id="subtitle"
            class="mt-4 text-white md:text-[1rem] lg:text-[1.2rem] xl:text-[1.9rem] md:text-base leading-relaxed font-normal">
            المتمم لإدارة موارد المؤسسة – ERP بخبرة 40 سنة في الأسواق المحلية والخليجية.
        </p>
    </div>
</section> -->
<section class="min-h-screen">
    <div class="w-full md:w-[70%] text-center md:text-right text-white z-10">
        <h2 id="erp-text" class="erp-text">
            هذا ما يجعل المتمم مختلفًا عن أي ERP آخر
        </h2>
    </div>
</section>