<section id="section2" class="w-full min-h-screen text-white flex flex-col items-center justify-center relative">
    <div id="stats-section" class=" relative w-full px-10 lg:px-20 text-center">
        <div
            class="grid grid-cols-2 lg:grid-cols-2 gap-y-8 gap-x-8 md:gap-y-17 xl:gap-y-30 md:gap-x-12 place-items-center pt-8 lg:pt-8">


            <div class="stat-card">
                <div class="num text-[2rem] md:text-[3rem] lg:text-[4rem] font-bold text-[#FFB300]">+<span
                        class="counter" data-target="3600">0</span>
                </div>
                <div class="label mt-1 lg:mt-2 text-[1rem] md:text-[1.5rem] lg:text-[2rem]"> {{ 'HOME.STATUS.CARD1' |
                    translate }}</div>
            </div>

            <div class="stat-card">
                <div class="num text-[2rem] md:text-[3rem] lg:text-[4rem] font-bold text-[#FFB300]">+<span
                        class="counter" data-target="40">0</span>
                </div>
                <div class="label mt-1 lg:mt-2 text-[1rem] md:text-[1.5rem] lg:text-[2rem]"> {{ 'HOME.STATUS.CARD2' |
                    translate }}</div>
            </div>



            <div class="stat-card">
                <div class="num text-[2rem] md:text-[3rem] lg:text-[4rem] font-bold text-[#FFB300]"><span
                        class="counter" data-target="99.9">0</span>%
                </div>
                <div class="label mt-1 lg:mt-2 text-[1rem] md:text-[1.5rem] lg:text-[2rem]"> {{ 'HOME.STATUS.CARD3' |
                    translate }}</div>
            </div>


            <div class="stat-card">
                <div class="num text-[2rem] md:text-[3rem] lg:text-[4rem] font-bold text-[#FFB300]"><span
                        class="counter" data-target="4">0</span>
                    {{ 'HOME.STATUS.WEEKS' | translate }}
                </div>
                <div class="label mt-1 lg:mt-2 text-[1rem] md:text-[1.5rem] lg:text-[2rem]"> {{ 'HOME.STATUS.CARD4' |
                    translate }} </div>
            </div>
        </div>


        <div class="mt-12 flex flex-col items-center justify-center">
            <button appOpenFormDialog
                class="cta-btn bg-[#FFB300] text-[1rem] text-[#1976D2] font-bold px-8 py-3 rounded-full hover:bg-[#ffca28] transition duration-300">
                {{ 'HOME.STATUS.beMEMBER' | translate }}
            </button>
            <p class="cta-sub mt-4 text-sm text-white/90 text-[1rem] ">
                {{ 'HOME.STATUS.SEE-DETAILS' | translate }}
            </p>
        </div>
    </div>
    <!-- <video id="section4Video" preload="auto" muted playsinline
        class="absolute inset-0 w-full h-full object-cover z-[-1]">
        <source src="./videos/scales2.webm" type="video/mp4">
        متصفحك لا يدعم تشغيل الفيديو.
    </video> -->
    
    <video id="section4Video" muted playsinline preload="auto" class="absolute inset-0 w-full h-full object-cover z-[-1]">
  <source src="/videos/scales2.webm" type="video/webm" />
        <source src="/videos/scales2.mp4" type="video/mp4" />
</video>


</section>