<div id="section50" class="h-screen w-full bg-white relative flex flex-col justify-center items-center ">
    <!-- <svg id="capsule2" viewBox="0 0 759 132" xmlns="http://www.w3.org/2000/svg"
        style="width: 757px; height: 131px; max-width: 90%;" class="md:w-[761px] mt-10 lg:scale-150">
        <rect class="capsule-path2" x="1" y="1" width="755" height="129" rx="60" stroke="var(--dark-gray)"
            stroke-width="3" fill="transparent" filter="url(#capsule2Shadow)" />
        <foreignObject x="35" y="10" width="689" height="96">
            <div class="text-center" xmlns="http://www.w3.org/1999/xhtml">
                <P id="section50-TITLE" class="text-[var(--primary)] text-[2rem] lg:text-[2rem] xl:text-[2rem]">
                    {{ 'HOME.SECTION3.TITLE' | translate }}
                </P>
                <p id="section50-details"
                    class="text-[var(--dark-gray)] text-[1.4rem] lg:text-[0.9rem] xl:text-[1.4rem] leading-relaxed font-normal">
                    {{ 'HOME.SECTION3.DETAILS' | translate }}
                </p>
            </div>
        </foreignObject>
    </svg> -->
<div id="capsule2Wrap" class="capsule-wrap">
  <svg id="capsule2" viewBox="0 0 759 132" xmlns="http://www.w3.org/2000/svg">
    <rect class="capsule-path2"
      x="1" y="1" width="755" height="129" rx="60"
      stroke="var(--dark-gray)" stroke-width="3" fill="transparent" />
  </svg>

  <div class="capsule-text">
              <P id="section50-TITLE" class="text-[var(--primary)] ">
                    {{ 'HOME.SECTION3.TITLE' | translate }}
                </P>
                <p id="section50-details"
                    class="text-[var(--dark-gray)] text-[0.6rem]  leading-relaxed font-normal">
                    {{ 'HOME.SECTION3.DETAILS' | translate }}
                </p>
  </div>
</div>

    <div id="section50Bottom" class="erp-carousel" [dir]="isRtl ? 'rtl' : 'ltr'">
        <div class="controls">
            <button id="arrowRight" class="arrow right" aria-label="التالي">
                <svg width="23" height="26" viewBox="0 0 23 26" fill="none" class="ltr:rotate-y-180"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.5 12.9902L-1.2235e-06 25.9806L-8.78432e-08 -0.000147849L22.5 12.9902Z"
                        fill="#D9D9D9" />
                </svg>
            </button>

            <button id="arrowLeft" class="arrow left" aria-label="السابق">
                <svg width="23" height="26" viewBox="0 0 23 26" fill="none" class=" ltr:-rotate-y-180"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.55671e-07 12.9902L22.5 25.9806L22.5 -0.000147849L6.55671e-07 12.9902Z" fill="#D9D9D9" />
                </svg>
            </button>
        </div>

        <div #swiperEl class="swiper">
            <div class="swiper-wrapper ps-[1.18rem]">
                <div class="swiper-slide" *ngFor="let f of features">
                    <div class="card">
                        <div class="text-content  text-center md:text-start">
                            <h3> {{ f.titleKey | translate }}</h3>
                            <p> {{ f.textKey | translate }}</p>
                        </div>
                    </div>
                    <P class="separator"></P>
                </div>
            </div>
        </div>


    </div>
    <video id="bg-vedio" preload="auto" muted playsinline class="absolute inset-0 w-full h-full object-cover z-[-1]">
        <source src="./videos/white bg.webm" type="video/webm">
        <source src="./videos/white bgsafarihigh.mp4" type="video/mp4">
        متصفحك لا يدعم تشغيل الفيديو.
    </video>
</div>