<app-solutions-section1 id="solutionsSection1" class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--primary)"></app-solutions-section1>
<app-solutions-section2 id="solutionsSection2" class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--primary)"></app-solutions-section2>
<app-solutions-section3 id="solutionsSection3" class="panel min-h-screen" data-bgcolor="var(--primary)"
    data-textcolor="var(--white)"></app-solutions-section3>
<app-solutions-section4 id="solutionsSection4" class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--primary)"></app-solutions-section4>
<app-solutions-section5 id="solutionsSection5" class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--primary)"></app-solutions-section5>
<app-solutions-section6 id="solutionsSection6" class="panel min-h-screen" data-bgcolor="var(--primary)"
    data-textcolor="var(--white)"></app-solutions-section6>