<!-- <app-solutions-section1 class="panel min-h-screen" data-bgcolor="var(--primary)"
    data-textcolor="var(--primary)"></app-solutions-section1>
<app-solutions-section2 class="panel min-h-screen" data-bgcolor="var(--primary)"
    data-textcolor="var(--primary)"></app-solutions-section2>
<app-solutions-section3 class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--white)"></app-solutions-section3> -->
<app-solutions-section4 class="panel min-h-screen" data-bgcolor="var(--primary)"
    data-textcolor="var(--primary)"></app-solutions-section4>
<app-solutions-section5 class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--white)"></app-solutions-section5>