#Section7Btn {
    visibility: hidden;
    opacity: 0;
}

.card {
    background: #FFFFFF;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cards {
    position: relative;
    overflow: visible;
}


.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.card-text1 {
    color: #42A5F5;
}

.card-text2 {
    color: #7B3DD3;
}

.card2 {
    div {
        &[dir="rtl"] {
            ul: {
                margin-left: 67px;
            }
        }

        &[dir="ltr"] {
            ul: {
                margin-left: 0px;
            }
        }
    }

}


ul {
    list-style: disc;
}

@media (max-width: 768px) {
    .card {
        position: relative;
        width: 80%;
        margin: auto;
    }

    .cards {
        padding-top: 0px !important;
        padding-bottom: 10px !important;
    }

    #bottom-text {
        padding-top: 10px !important;
        margin-top: 0;
        text-align: center;
    }

}