// html,
// body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
// }

#smooth-wrapper {
    height: auto;
    overflow: hidden;
}

#smooth-content {
    // will-change: transform;
    background-color: var(--white);
}