<div class="animation-container scale-[0.7] min-[900px]:scale-[0.8] min-[1024px]:scale-[0.9] min-[1280px]:scale-[1] min-[1340px]:scale-[1.1] min-[1400px]:scale-[1.2]  min-[1340px]:-translate-y-32  -translate-y-5"
    [ngClass]="overFlow">
    <!-- <div #imageContainer class="image-container"></div> -->
    <div #imageContainer
        class="absolute min-[720px]:translate-x-[11.25rem] min-[1024px]:translate-x-[9.25rem] min-[1280px]:translate-x-12 min-[1400px]:translate-x-15 min-[1450px]:translate-x-12 min-[1500px]:translate-x-5 translate-x-12 overflow-hidden ltr:min-[1280px]:-translate-x-12 ltr:min-[1400px]:-translate-x-15 ltr:min-[1450px]:-translate-x-12 ltr:min-[1500px]:-translate-x-5 ltr:min-[720px]:-translate-x-45 ltr:min-[1024px]:-translate-x-30">
    </div>
</div>
<!--transform: scaleX(-1); to rotate the image in english-->