<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
<rule name="Static files" stopProcessing="true">
  <match url=".*\.(css|js|mjs|map|json|png|jpg|jpeg|gif|svg|webp|ico|woff|woff2|ttf|eot|mp4|webm|ogv|mp3|wav|pdf|wasm)$" />
  <action type="None" />
</rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
        <staticContent>
  <mimeMap fileExtension=".webp" mimeType="image/webp" />
  <mimeMap fileExtension=".webm" mimeType="video/webm" />
  <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
  <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
  <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
  <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        </staticContent>
  </system.webServer>
</configuration>
