<app-about-section1 class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--white)"></app-about-section1>
<app-about-section2 class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--white)"></app-about-section2>
<app-about-section3 class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--white)"></app-about-section3>
<app-about-section4 class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--primary)"></app-about-section4>
<app-about-section5 class="panel min-h-screen" data-bgcolor="var(--white)"
    data-textcolor="var(--primary)"></app-about-section5>