.separator {
    width: 3px;
    height: 75px;
    margin: auto;
    background-color: #25E9F7;
    border-radius: 2px;
}

#productSection4Title,
#productSection4SubTitle,
#productSection4-icons {
    opacity: 0;
    visibility: hidden;
}