#productSection5-title1,
#productSection5-title2,
#productSection5-details,
#productSection5-subtitle,
#productSection5-list,
#productSection5-footer,
#productSection5-img-bottom {
    opacity: 0;
    visibility: hidden;
}