<div id="productsSection7"
    class="min-h-[80svh] md:h-screen w-full bg-white relative flex flex-col justify-center items-center">

    <div class="absolute top-0 left-0 -z-1 " id="productSection5-img-top">
        <img src="./images/Rectangle.svg" alt="" srcset="">
    </div>
    <div class="capsule-products7-wrap">
        <svg id="capsule7" viewBox="0 0 362 92" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true">
            <rect class="capsule-path7" x="1" y="1" width="360" height="90" rx="45" stroke="var(--dark-gray)"
                stroke-width="3" fill="transparent" />
        </svg>

        <p id="productsSection7-TITLE" class="capsule-products7-title">
            ما يميز خطط المتمم:
        </p>
    </div>

    <div id="productsSection7Bottom" #productsSection7Bottom>

        <div
            class="flex justify-center items-center flex-col md:grid md:grid-cols-2 md:grid-rows-2 md:gap-10 text-start  mx-auto">
            <p class="lg:text-[1.1rem] mb-3 text-[var(--primary)] font-bold"> 1- التخصيص الفعلي (Customization)</p>
            <p class="lg:text-[1.1rem] mb-3 text-[var(--primary)] font-bold  hidden md:block"> 3- دعم يستحق أن تعتمد
                عليه -
                Real Lifetime
                Support
            </p>
            <p class="lg:text-[1.1rem] mb-3 text-[var(--primary)] font-bold"> 2- التكلفة الفعلية للملكية… وليس فقط
                الاشتراك
                <br>
                -
                Total Cost of Ownership
            </p>
            <p class="lg:text-[1.1rem] mb-3 text-[var(--primary)] font-bold block md:hidden"> 3- دعم يستحق أن تعتمد عليه
                -
                Real Lifetime
                Support
            </p>
            <p class="lg:text-[1.1rem] text-[var(--primary)] font-bold"> 4- مرونة النظام - System Flexability
            </p>
        </div>
    </div>

    <!-- <svg id="capsule7" viewBox="0 0 590 132" xmlns="http://www.w3.org/2000/svg"
        style="width: 757px; height: 131px; max-width: 90%;"
        class="block xl:hidden md:w-[761px] md:scale-[1.3] lg:scale-[1.74]">
        <rect class="capsule-path7" x="1" y="1" width="585" height="85" rx="47" stroke="var(--dark-gray)"
            stroke-width="3" fill="transparent" filter="url(#capsule4Shadow)" />
        <foreignObject x="28" y="10" width="550" height="68">
            <div class="text-center" xmlns="http://www.w3.org/1999/xhtml">
                <p id="productsSection7-TITLE"
                    class="text-[var(--primary)] text-[1.2rem] lg:text-[1.25rem] xl:text-[1.4rem]">
                    أما في المتمم، فالمرونة جزء أساسي من تصميم النظام وليس مجرد
                    <br>
                    إضافة جانبية كما كنا مع الاف الشركات&nbsp;على مدار 40 عاما
                </p>
            </div>
        </foreignObject>
    </svg> -->
    <!-- نسخة xl وما فوق (نفس النص، بس عرض أكبر) -->
    <!-- <svg id="capsule7-xl" viewBox="0 0 640 132" xmlns="http://www.w3.org/2000/svg"
        style="width: 757px; height: 131px; max-width: 90%;"
        class="hidden xl:block md:w-[761px] lg:scale-[1.74] xl:scale-[2]">
        <rect class="capsule-path7" x="1" y="1" width="640" height="85" rx="47" stroke="var(--dark-gray)"
            stroke-width="3" fill="transparent" filter="url(#capsule4Shadow)" />
        <foreignObject x="20" y="10" width="600" height="68">
            <div class="text-center" xmlns="http://www.w3.org/1999/xhtml">
                <p id="productsSection7-TITLE-xl"
                    class="text-[var(--primary)] text-[1.2rem] lg:text-[1.25rem] xl:text-[1.4rem]">
                    ما يميز خطط المتمم:
                </p>
            </div>
        </foreignObject>
    </svg> -->

    <div class="absolute bottom-0 -right-17 top-[8%] -z-1">
        <img src="./images/circle.svg" alt="blue ball">
    </div>
</div>