<div id="section100" class="min-h-[140vh] bg-white lg:translate-y-[-233px]">
    <div
        class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative pb-8 gap-y-15 pb-16 lg:pb-20 md:pt-35 lg:pt-45 min-h-[80vh] bg-white">
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>



    </div>
    <!-- 🟢 الفيديو -->
    <div class="w-full relative min-h-[50vh] pb-10 flex justify-center items-center">
        <div class="relative w-[80%] lg:max-w-3xl h-[45vh] lg:h-[52vh] rounded-2xl shadow-xl overflow-hidden bg-black">

            <!-- @if الجديدة -->
            @if (!isVideoLoaded) {
            <div class="absolute inset-0 cursor-pointer group" (click)="loadVideo()">
                <img src="./images/video-placeholder.webp" alt="Video Placeholder" alt="Video Placeholder" width="1280"
                    height="720" loading="eager" decoding="async"
                    class="absolute inset-0 w-full h-full object-cover transition duration-300 group-hover:brightness-90">
                <div class="absolute inset-0 flex items-center justify-center">
                    <div
                        class="w-20 h-20 bg-white/70 rounded-full flex items-center justify-center transition group-hover:scale-110">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-black" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M6.79 5.093a.5.5 0 0 1 .79.407v4.998a.5.5 0 0 1-.79.407L3.5 8.972a.5.5 0 0 1 0-.944l3.29-1.935z" />
                        </svg>
                    </div>
                </div>
            </div>
            }

            @if (isVideoLoaded) {
            <iframe class="absolute inset-0 w-full h-full rounded-2xl" [src]="safeVideoUrl" title="Company Video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            }
        </div>
    </div>

</div>