<div id="section100" class="min-h-[140vh] bg-white lg:translate-y-[-233px]">
    <div
        class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative pb-8 gap-y-15 pb-16 lg:pb-20 md:pt-35 lg:pt-45 min-h-[80vh] bg-white">
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                </div>
                <div
                    class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                </div>
                <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                    <div class=" text-yellow-400">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>



    </div>
    <div class="w-full relative min-h-[50vh] pb-10 flex justify-center items-center">
        <div class="relative w-[80%] lg:max-w-3xl h-[45vh] lg:h-[52vh] rounded-2xl shadow-xl overflow-hidden">
            <img src="assets/images/video-placeholder.jpg" alt="Video Placeholder"
                class="absolute inset-0 w-full h-full object-cover">
            <iframe class="absolute inset-0 w-full h-full rounded-2xl"
                src="https://www.youtube.com/embed/inlofWRsKxU?si=kT-Q06MH-K2avMOy&amp;controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                sandbox="allow-scripts allow-same-origin allow-forms allow-popups  allow-presentation"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>