<section id="homeSection4"
    class="relative w-full min-h-svh md:min-h-screen flex flex-col items-center justify-center md:gap-3 gap-0 px-6 md:px-20 pt-32 md:pt-20 pb-10 ">
    <div class="contents">
        <p id="Text1"
            class="mx-auto text-center text-white text-[1.5rem] md:text-[1.9rem] lg:text-[2.5rem] xl:text-[2.9rem] font-bold leading-snug text-[var(--primary)]">
            {{ 'HOME.APPLICATIONS.TITLE' | translate }}
        </p>
        <div class="cards w-[90%] grid grid-cols-2 gap-2 md:gap-1 lg:w-full xl:w-[90%] md:grid-cols-3 lg:grid-cols-5 pt-5"
            [dir]="isRtl ? 'rtl' : 'ltr'">
            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[2%] rtl:left-11 "> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full ">
                        {{ 'HOME.APPLICATIONS.APP4' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-02.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-02.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[17%]  rtl:left-12"> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP3' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-08.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-08.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[0%] rtl:left-[4%] px-[13px]"> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP9' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-13.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-13.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[16%] rtl:left-12"> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP8' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-12.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-12.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[3%] rtl:left-6 px-[14px]"> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP7' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-11.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-11.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[22%] rtl:left-20"> -->
                    <span class="absolute ltr:px-[13px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP6' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-10.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-10.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[12%] rtl:left-18"> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP5' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-09.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-09.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[19%] rtl:left-13 "> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP3' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-07.webp" type="image/webp">

                        <img src="/images/homepage/application/assets-HP-07.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%] ltr:left-[24%] rtl:left-15"> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP2' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-06.webp" type="image/webp">
                        <img src="/images/homepage/application/assets-HP-06.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>


                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <!-- <span class="absolute ltr:px-[12px] top-[58%]  ltr:left-[0%] rtl:left-13 "> -->
                    <span class="absolute ltr:px-[12px] top-[58%] w-full">
                        {{ 'HOME.APPLICATIONS.APP1' | translate }}
                    </span>
                    <picture class="block w-full h-full">
                        <source srcset="/images/homepage/application/assets-HP-05.webp" type="image/webp">
                        <img src="/images/homepage/application/assets-HP-05.png" loading="lazy" decoding="async"
                            class="w-full h-full object-cover" alt="" />
                    </picture>

                </div>
            </div>
        </div>

        <a id="Text2" routerLink="/solutions"
            class="mx-auto text-center text-[var(--secondary)] text-[1.3rem] md:text-[1.6rem] lg:text-[2rem] xl:text-[2.4rem] md:text-base font-normal">
            {{ 'HOME.APPLICATIONS.FOOTER' | translate }}
        </a>

    </div>
    <video preload="auto" autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover z-[-1]">
        @if (mobile) {
        <source src="./videos/Allappsbgsm.webm" type="video/webm">
        <source src="./videos/allAppsBgsafarihighsm.mp4" type="video/mp4">
        }
        @else {
        <source src="./videos/allAppsBg.webm" type="video/webm">
        <source src="./videos/allAppsBgsafarihigh.mp4" type="video/mp4">
        }
        متصفحك لا يدعم تشغيل الفيديو.
    </video>

</section>