<section id="section4"
    class="relative w-full min-h-screen flex flex-col items-center justify-center gap-10 md:gap-0 px-6 md:px-20 pt-20 md:pt-10 overflow-hidden">
    <p id="Text1"
        class="mx-auto text-center text-white text-[1.2rem] md:text-[1.9rem] lg:text-[2.5rem] xl:text-[2.9rem] font-bold leading-snug text-[var(--primary)]">
        جميع التطبيقات التي تغطي كل جوانب عملك
    </p>
    <div class="cards my-5">

        <div class="card"><img src="/images/SVGs homepage/assets HP-02.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-05.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-06.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-07.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-08.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-09.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-10.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-11.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-12.svg" class="w-full h-full" alt="" srcset="">
        </div>
        <div class="card"><img src="/images/SVGs homepage/assets HP-13.svg" class="w-full h-full" alt="" srcset="">
        </div>

    </div>
    <p id="Text2"
        class="mx-auto text-center text-[var(--secondary)] text-[0.8rem] md:text-[1rem] xl:text-[1.5rem] md:text-base font-normal">
        اكتشف جميع التطبيقات لما يناسبك من إضافات وخصائص
    </p>
</section>