#Text1,
#Text2 {
    transform: translateY(100px);
    opacity: 0;
}

.card {
    opacity: 0;
    transform: translateX(50px);
    cursor: pointer;

    // width: 19%;
    // width: 100px;
    // background-color: red;
    // height: 00px;
}

.card:hover {
    transform: scale(1.2) !important;
    transition: all 0.7s;

    // width: 19%;
    // width: 100px;
    // background-color: red;
    // height: 00px;
}