<section id="section4"
    class="relative w-full min-h-screen flex flex-col items-center justify-center md:gap-3 gap-0 px-6 md:px-20 pt-10 md:pt-20 pb-10">
    <div class="contents">
        <p id="Text1"
            class="mx-auto text-center text-white text-[1.5rem] md:text-[1.9rem] lg:text-[2.5rem] xl:text-[2.9rem] font-bold leading-snug text-[var(--primary)]">
            {{ 'HOME.APPLICATIONS.TITLE' | translate }}
        </p>
        <div class="cards w-[90%] grid grid-cols-2 gap-2 md:gap-1 md:grid-cols-3 lg:grid-cols-5 pt-5"
            [dir]="isRtl ? 'rtl' : 'ltr'">
            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[2%] rtl:left-11">
                        {{ 'HOME.APPLICATIONS.APP4' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-02.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[17%]  rtl:left-12">
                        {{ 'HOME.APPLICATIONS.APP3' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-08.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[0%] rtl:left-[4%] px-[13px]">
                        {{ 'HOME.APPLICATIONS.APP9' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-13.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[16%] rtl:left-12">
                        {{ 'HOME.APPLICATIONS.APP8' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-12.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[3%] rtl:left-6 px-[14px]">
                        {{ 'HOME.APPLICATIONS.APP7' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-11.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[22%] rtl:left-20">
                        {{ 'HOME.APPLICATIONS.APP6' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-10.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[12%] rtl:left-18">
                        {{ 'HOME.APPLICATIONS.APP5' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-09.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[19%] rtl:left-13 ">
                        {{ 'HOME.APPLICATIONS.APP3' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-07.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%] ltr:left-[24%] rtl:left-15">
                        {{ 'HOME.APPLICATIONS.APP2' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-06.svg" class="w-full h-full" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="relative flex items-center justify-center">
                    <span class="absolute top-[58%]  ltr:left-[0%] rtl:left-13 ">
                        {{ 'HOME.APPLICATIONS.APP1' | translate }}
                    </span>
                    <img src="/images/SVGs homepage/assets HP-05.svg" class="w-full h-full" alt="" />
                </div>
            </div>
        </div>

        <a id="Text2" routerLink="/coming-soon"
            class="mx-auto text-center text-[var(--secondary)] text-[1.3rem] md:text-[1.6rem] lg:text-[2rem] xl:text-[2.4rem] md:text-base font-normal">
            {{ 'HOME.APPLICATIONS.FOOTER' | translate }}
        </a>

    </div>
    <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover z-[-1]">
        <source src="./videos/allAppsBg.mp4" type="video/mp4">
        متصفحك لا يدعم تشغيل الفيديو.
    </video>

</section>