#Text1,
#Text2 {
    transform: translateY(100px);
    opacity: 0;
}

.card {
    opacity: 0;
    transform: translateX(50px);
    // width: 19%;
    // width: 100px;
    // background-color: red;
    // height: 00px;
}