<div id="solutionsSection2" #solutionsSection2
    class="h-screen w-full bg-white relative flex flex-col justify-center items-center relative">
    <!-- <svg id="capsule3" width="500" height="59" viewBox="0 0 300 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="capsule-path3" x="2.5" y="0.5" width="300" height="55" rx="27.5" stroke="var(--light-gray)"
            stroke-width="3" fill="transparent" filter="url(#capsule3Shadow)" />

        <foreignObject x="4.5" y="2" width="300" height="56">
            <div class="text-center" xmlns="http://www.w3.org/1999/xhtml">
                <P id="solutionsSection2-TITLE" class="text-[var(--primary)] text-[2rem] lg:text-[2rem] xl:text-[2rem]">
                    قائمة الدورات الأساسية
                </P>
            </div>
        </foreignObject>
    </svg> -->
    <svg id="capsule3" width="400" height="59" viewBox="0 0 400 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="capsule-path3" x="2.5" y="0.5" width="395" height="55" rx="27.5" stroke="white" stroke-width="3"
            fill="transparent" filter="url(#capsule3Shadow)" />

        <foreignObject x="4.5" y="2" width="392" height="56">
            <div class="text-center" xmlns="http://www.w3.org/1999/xhtml">
                <p id="solutionsSection2-TITLE"
                    class="text-[var(--primary)] text-[2rem] lg:text-[2rem] xl:text-[2rem] font-bold">
                    قائمة الدورات الأساسية
                </p>
            </div>
        </foreignObject>
    </svg>


    <div id="solutionsSection2Bottom" #solutionsSection2Bottom class="erp-carousel">
        <div class="controls">
            <button id="arrowRight2" class="arrow right" aria-label="التالي">
                <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.5 12.9902L-1.2235e-06 25.9806L-8.78432e-08 -0.000147849L22.5 12.9902Z"
                        fill="#D9D9D9" />
                </svg>
            </button>

            <button id="arrowLeft2" class="arrow left" aria-label="السابق">
                <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.55671e-07 12.9902L22.5 25.9806L22.5 -0.000147849L6.55671e-07 12.9902Z" fill="#D9D9D9" />
                </svg>

            </button>
        </div>

        <div #swiperEl class="swiper" dir="rtl">
            <div class="swiper-wrapper ps-[1.18rem]">
                <div class="swiper-slide" *ngFor="let c of courses">
                    <div class="card">
                        <div class="text-content">
                            <h3>{{ c.titleKey |translate }}</h3>
                            <p>{{ c.textKey|translate }}</p>
                        </div>
                    </div>
                    <P class="separator"></P>
                </div>
            </div>
        </div>


    </div>
    <!-- <div class="absolute top-0 right-0 -z-1">
        <img src="./About us/Rectangle.svg" alt="blue ball">
    </div> -->

</div>