<section id="About-Section1" class="relative w-full min-h-screen flex flex-col justify-start items-center gap-2">

    <div id="About-Section1-vedio" class="w-full relative h-[76vh] flex justify-center items-center ">
        <div class="relative w-full">
            <video id="section8-video" autoplay muted playsinline class="mx-auto  w-full h-full">
                <source src="./About us/Comp 2_1.mp4" type="video/mp4" class="object-cover" />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div>
        <p id="About-Section1-title"
            class="w-[80%] text-[0.8rem] whitespace-normal break-words md:text-[1rem] lg:text-[1.2rem] font-normal text-[var(--dark-gray)] text-center mx-auto">
            بأكثر من أربعة عقود في تقديم أنظمة تخطيط موارد المؤسسات المصممة لمختلف القطاعات. يعد المتمم من الرواد في
            تقديم
            ERP System وحلول البرمجيات في مصر والشرق الأوسط وشمال افريقيا و الخليج العربي منذ عام 1986. تعتمد انظمتنا
            على
            تكنولوجيا ذكية ومتطورة مصممة خصيصا وفقا لتحليل احتياجات العميل وقواعد نشاطه لتلائم طبيعة هذا النشاط. يتوفر
            المتمم بباقات مختلفة و مجموعة واسعة من الحلول المصممة خصيصا لتلبية احتياجات الأعمال المتنوعة، و التي تتناسب
            وتتوافق مع مختلف القطاعات.من إدارة المخزون إلى المبيعات وعلاقات العملاء والموارد البشرية وغيرها . أيا كان
            احتياجات منشأتك المتمم معك لتبسيط الأعمال ولتبقى في الصدارة.

        </p>

    </div>

</section>