<section id="About-Section1"
    class="relative w-full min-h-screen flex flex-col justify-center md:justify-start items-center gap-2 ltr:gap-0">
    <div id="About-Section1-vedio" class="w-full relative md:min-h-[70vh] flex justify-center items-start ">
        <div class="relative w-full">
            <video id="section8-video" autoplay muted playsinline class="mx-auto  w-full h-full">
                <source src="./About us/Nested Sequence 02.mp4" type="video/mp4" class="object-cover" />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div>
        <p id="About-Section1-title"
            class="rtl:w-[80%] ltr:w-[100%] text-[0.8rem] whitespace-normal break-words md:text-[1rem] lg:text-[1.2rem] font-normal text-[var(--dark-gray)] text-center mx-auto">
       {{ 'ABOUT.HERO.TITLE' | translate }}
        </p>
    </div>
</section>