#productTitle1,
#productSubTitle1,
#productbottom-text {
    visibility: hidden;
    opacity: 0;
}

.card {
    background: #FFFFFF;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cards {
    position: relative;
    transform: none !important;
    overflow: visible;
    // min-height: 84%;
}

li {
    margin: 0px;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

// .card-text1 {
//     color: #42A5F5;
// }

.card-text2 {
    color: #7B3DD3;
}

.card2 {
    div {
        &[dir="rtl"] {
            ul: {
                margin-left: 67px;
            }
        }

        &[dir="ltr"] {
            ul: {
                margin-left: 0px;
            }
        }
    }

}


ul {
    list-style: disc;
}

@media (max-width: 768px) {
    .card {
        position: relative;
        width: 80%;
        margin: auto;
    }

    .cards {
        transform: none !important;

    }

    .cards {
        height: auto !important;
        padding-top: 20px !important;
        padding-bottom: 10px !important;
    }

    #bottom-text {
        margin-top: 2rem;
    }

}

@media (min-width: 768px) and (max-width: 856px) {
    .bottom-ul-Mini {
        margin-bottom: 28px;
    }

    .bottom-ul-2 {
        padding-bottom: 24px;
    }

    .card [dir="ltr"] {
        .bottom-ul-Mini {
            margin-bottom: 49px;
        }

        .bottom-ul-2 {
            padding-bottom: 12px;
            padding-right: 0px
        }
    }
}

@media (min-width: 774px) and (max-width: 819px) {
    .card [dir="ltr"] {
        .bottom-ul-Mini {
            margin-bottom: 65px;
        }
    }
}

@media (min-width: 799px) and (max-width: 819px) {
    .card [dir="ltr"] {
        .bottom-ul-Mini {
            margin-bottom: 65px;
        }

        .bottom-ul-3 {
            margin-bottom: 33px;
        }
    }
}

@media (min-width: 827px) and (max-width: 856px) {
    .bottom-ul-Mini {
        padding-bottom: 35px;
    }

    .card [dir="ltr"] {
        .bottom-ul-Mini {
            padding-bottom: 0px;
        }
    }
}

@media (min-width: 844px) and (max-width: 917px) {
    .card [dir="ltr"] {
        .bottom-ul-3 {
            margin-bottom: 66.5px;
        }

        .bottom-ul-Mini {
            margin-bottom: 65px;
        }
    }
}

@media (min-width: 917px) and (max-width: 955px) {
    .card [dir="ltr"] {
        .bottom-ul-3 {
            margin-bottom: 66.5px;
        }

        .bottom-ul-Mini {
            margin-bottom: 65px;
        }
    }
}

@media (min-width: 955px) and (max-width: 986px) {
    .card [dir="ltr"] {
        .bottom-ul-3 {
            margin-bottom: 4.4rem;
        }

        .bottom-ul-Mini {
            margin-bottom: 73px;
        }
    }
}

@media (min-width: 987px) and (max-width: 1024px) {
    .card [dir="ltr"] {
        .bottom-ul-Mini {
            margin-bottom: 76px;
        }
    }
}

@media (min-width: 1016px) and (max-width: 1024px) {
    .card [dir="ltr"] {
        .bottom-ul-3 {
            margin-bottom: 3.3rem;
        }
    }
}

@media (min-width: 1017px) and (max-width: 1024px) {
    .bottom-ul-Mini {
        margin-bottom: 55px;
    }

    .bottom-ul-2 {
        padding-bottom: 27px;
    }
}

@media (min-width: 917px) and (max-width: 1024px) {
    .bottom-ul-Mini {
        margin-bottom: 40px;
    }

    .bottom-ul-2 {
        padding-bottom: 23px;
    }

    .bottom-ul-3 {
        margin-bottom: 3.5rem;
    }
}


@media (min-width: 997px) and (max-width: 1024px) {
    .card [dir="ltr"] {
        .bottom-ul-2 {
            padding-bottom: 24px;
        }
    }

}

@media (min-width: 1017px) and (max-width: 1024px) {
    .card [dir="ltr"] {
        .bottom-ul-3 {
            margin-bottom: 2.1rem;
        }
    }

}

@media (min-width: 1045px) and (max-width: 1193px) {
    .card [dir="ltr"] {
        .bottom-ul-2 {
            padding-bottom: 21px;
        }
    }
}



@media (min-width: 1194px) and (max-width: 1193px) {
    .bottom-ul-2 {
        margin-bottom: 2.1rem;
    }
}

@media (min-width: 1193px) and (max-width: 1279px) {
    .bottom-ul-2 {
        margin-bottom: 20px;
    }
}

@media (min-width: 1315px) and (max-width: 1449px) {
    .bottom-ul-2 {
        margin-bottom: 10px;
    }

    .card [dir="ltr"] {
        .bottom-ul-2 {
            padding-bottom: 16px;
            margin-bottom: 0px;
        }
    }
}

@media (min-width: 1369px) and (max-width: 1449px) {
    .card [dir="ltr"] {
        .bottom-ul-3 {
            padding-bottom: 9px;

        }
    }
}

@media (min-width: 1425px) and (max-width: 1473px) {
    .bottom-ul-3 {
        margin-bottom: 44px;
    }
}

@media (min-width: 1450px) {
    #SubText7 {
        margin-bottom: 1.75rem;
    }

    p#bottom-text {
        margin-top: 1.75rem;
    }

    ul.bottom-ul-2 {
        margin-bottom: 1rem;
    }

    .card [dir="ltr"] {
        ul.bottom-ul-2 {
            margin-bottom: 0rem;
        }

        ul.bottom-ul-3 {
            margin-bottom: 3.2rem;
        }
    }

    ul.bottom-ul-3 {
        margin-bottom: 2.9rem;
    }
}

@media (min-width: 1473px) {
    ul.bottom-ul-2 {
        margin-bottom: 1.9rem;
    }

    .card [dir="ltr"] {
        ul.bottom-ul-2 {
            margin-bottom: 1rem;
        }
    }

}