// .navbar {
//     position: fixed;
//     top: 0;
//     height: auto;
//     left: 0;
//     right: 0;
//     width: 100%;
//     z-index: 999;
//     transform: translateY(-100%);
//     will-change: auto;
// }

// #hamprgerButton {
//     visibility: hidden;
// }

// @media (max-width: 765px) {

//     nav {
//         transform: translateY(-120px);
//         position: absolute;
//         background-color: white;
//         z-index: 40;
//         visibility: visible;
//     }

//     // nav {
//     //     transition: opacity 0.4s ease, visibility 0.4s ease;
//     //     opacity: 1;
//     //     visibility: visible;
//     // }

//     // nav.closed {
//     //     opacity: 0;
//     //     visibility: hidden;
//     // }

//     #hamprgerButton {
//         visibility: visible;
//     }

//     .navSmallScreen {
//         position: absolute;
//         z-index: 50;
//     }
// }

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    // overflow: hidden;
}

#smooth-wrapper {
    height: auto;
    overflow: hidden;
}

#smooth-content {
    will-change: transform;
    /* Ensure content area starts with white to avoid blue/primary flashes during initialization */
    background-color: var(--white);
}

.dot.active {
    background: none;
    /* نشيل لون الخلفية */
    position: relative;
    /* علشان الأيقونة جوّهها */
}

.dot.active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    /* حجم الأيقونة */
    height: 40px;
    transform: translate(-50%, -50%);
    background-image: url('/images/custom_cursor_fixed.cur');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.dot-label.active {
    opacity: 1;
    color: #FFD166;
    transition: all 0.3s ease;
}

footer {
    //   font-family: "Poppins", sans-serif;
    line-height: 1.6;
}