.scroll-container {
    height: 100vh;
    // overflow: hidden;
    // background-color: #ffffff;
    transition: background-color 0.4s ease, color 0.4s ease;
}

// في styles.scss أو home.component.scss
#smooth-content {
    transition: background-color 0.4s ease;
    background-color: var(--white); // أو default
}

.blue-section .content-wrapper {
    transform: translateY(100px); // ابدأه نازل شوية
    opacity: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transform: translateY(-100%);
}