<section id="solutionsSection1"
    class="relative w-full min-h-screen flex flex-col justify-center md:justify-start items-center gap-2">

    <div id="solutions-Section1-vedio" class="w-full relative flex justify-center items-center">
        <div class="relative w-full h-[53vh]  md:h-[72vh] md:pt-[1.625rem] xl:h-[77vh] xl:pt-0">
            <video id="solutions-video" autoplay muted playsinline
                class="mx-auto object-cover md:object-fill h-full md:w-full  xl:object-cover ">
                <source src="./solutions/Comp 1_1.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div>
        <div id="solutions-Section1-title"
            class="ltr:w-[100%] ltr:px-4 rtl:w-[80%] text-[var(--dark-gray)] text-center mx-auto">
            <span
                class="text-[var(--primary)]   text-[1rem] whitespace-normal break-words md:text-[1.2rem] lg:text-[1.5rem] xl:text-[1.8rem] font-bold">
                {{ 'SOLUTIONS.HERO.TITLE' | translate }}
            </span>
            <p class=" text-[0.9rem] whitespace-normal break-words md:text-[1.1rem] lg:text-[1.3rem] font-normal"> {{
                'SOLUTIONS.HERO.DETAILS' | translate }}</p>
        </div>

    </div>

</section>