#solutions-Section1-title {
    opacity: 0;
    visibility: hidden;
}

#solutions-Section1 {
    background-color: transparent;
}

#solutions-Section1-vedio {
    opacity: 0;
    visibility: hidden;
}