<section id="section8"
    class="relative w-full min-h-screen flex flex-col md:flex-row items-center justify-center md:justify-between gap-10 md:gap-0 px-6 md:px-20 pt-20 md:pt-10">
    <div class="w-full md:w-[70%] text-center md:text-right z-10">
        <h1 id="section8-title"
            class="text-[1.5rem] md:text-[2rem] lg:text-[2.6rem] xl:text-[3rem] font-bold leading-snug text-[var(--primary)]">
            ابدأ رحلة التحول لعملك مع المتمم اليوم
        </h1>

        <p id="section8-details"
            class="mt-4 pe-5  text-[var(--dark-gray)] md:text-[1rem] lg:text-[1.2rem] xl:text-[1.9rem] md:text-base leading-relaxed font-normal">
            انضم إلى آلاف الشركات التي اعتمدت المتمم خلال 40 عامًا لتبسيط عملياتها وتحقيق نمو أسرع. فريقنا جاهز لشرح
            كافة التفاصيل ومساعدتك الآن
        </p>

        <div class="mt-8 flex flex-col sm:flex-row justify-center md:justify-start gap-4">
            <a href="#" id="section8-button1"
                class="bg-[var(--primary)] hover:bg-[var(--primary-dark)] text-white px-6 py-3 rounded-full text-sm font-semibold shadow-md transition">
                حدد جلسة استشارة مجانية
            </a>
            <a href="#" id="section8-button2"
                class="bg-[var(--primary-light)] hover:bg-[var(--primary-dark)] text-white px-6 py-3 rounded-full text-sm font-semibold shadow-md transition">
                جرّب ميني متمم للأفراد مجانًا
            </a>
        </div>
    </div>
    <div class="w-full md:w-1/2 relative z-0">
        <video id="section8-video" autoplay muted loop playsinline
            class="w-full max-w-xl mx-auto rounded-2xl shadow-xl">
            <source src="assets/video/hero.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- <div class="w-[70%] h-screen fixed top-0">
        <video src="./vedios/gradient.mp4" class="w-full h-full object-cover" autoplay muted loop></video>
    </div> -->
</section>