<!-- <section id="section5" class="w-full min-h-screen flex justify-center items-center flex-col">
    <p id="Text1" class="mx-auto text-center pt-15">
    آلاف الشركات تثق في المتمم منذ أكثر من 40 عامًا
    </p>
    <svg id="capsule" viewBox="0 0 800 240" xmlns="http://www.w3.org/2000/svg"
        style="width: 100%; height: auto; max-width: 1000px; min-width: 100px;">

        <path d="M780,120
       A100,100 0 0 1 680,220
       H120
       A100,100 0 0 1 120,20
       H680
       A100,100 0 0 1 780,120
       Z" stroke="#000" class="capsule-path" stroke-width="3" fill="none" />
        <foreignObject x="50" y="20" width="700" height="180">
            <div xmlns="http://www.w3.org/1999/xhtml" id="image-container"
                style="display:flex; gap:20px; align-items:center; justify-content:center; height:100%; position:relative; overflow:hidden;">
                <div class="slot"><img src="/images/connect.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/dashboard.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/filter.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/subscriber.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;"></div>
            </div>
        </foreignObject>


    </svg>
</section> -->

<!-- <section id="section5" class="w-full min-h-screen flex justify-center items-center flex-col pt-15">
    <p id="Text5" class="mx-auto text-center text-[1.5rem] md:text-[1.5rem] lg:text-[2rem]">
        آلاف الشركات تثق في المتمم منذ أكثر من 40 عامًا
    </p>

    <svg id="capsule" viewBox="0 0 759 116" xmlns="http://www.w3.org/2000/svg"
        style="width: 761px; height: 130px; max-width: 100%;">
        <path d="M758,58
             a58,58 0 0 1 -58,58
             H59
             a58,58 0 0 1 0,-116
             H700
             a58,58 0 0 1 58,58
             Z" stroke="#000" class="capsule-path" stroke-width="2" fill="none" />

        <foreignObject x="35" y="10" width="689" height="96">
            <div xmlns="http://www.w3.org/1999/xhtml" id="image-container"
                style="display:flex; gap:20px; align-items:center; justify-content:center; height:100%; position:relative; overflow:hidden;">
                <div class="slot"><img src="/images/connect.png" style="width:70px; height:70px;" alt="connect"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/dashboard.png" style="width:70px; height:70px;" alt="dashboard">
                </div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/filter.png" style="width:70px; height:70px;" alt="filter"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/subscriber.png" style="width:70px; height:70px;" alt="subscriber">
                </div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue"></div>
            </div>
        </foreignObject>
    </svg>
</section> -->
<section id="section5"
    class="w-full min-h-[200vh] flex flex-col items-center justify-center bg-white overflow-hidden pt-35 lg:gap-[8rem]">
    <div class="flex justify-center items-center flex-col lg:mt-[5rem]">
        <p id="Text5"
            class="mx-auto text-center text-[#1976D2] font-bold text-[1.8rem] md:text-[2.2rem] leading-snug mb-8 w-[70%] md:w-[100%] ">
            آلاف الشركات تثق في المتمم منذ أكثر من 40 عامًا
        </p>


        @if (!isMobile) {
        <!-- <svg id="capsule" viewBox="0 0 759 132" xmlns="http://www.w3.org/2000/svg"
        style="width: 757px; height: 131px; max-width: 90%;" class="md:w-[761px] mt-10">
        <path class="capsule-path" d="M100,5 
         h560 
         a100,60 0 0 1 0,120 
         h-560 
         a100,60 0 0 1 0,-120 
         z" stroke="#BFBFBF" stroke-width="3" fill="#ffffff" filter="url(#capsuleShadow)" />

        <foreignObject x="35" y="10" width="689" height="96">
            <div xmlns="http://www.w3.org/1999/xhtml" id="image-container"
                style="display:flex; gap:20px; align-items:center; justify-content:center; height:100%; position:relative; opacity: 0; overflow:hidden;">
                <div class="slot"><img src="/images/connect.png" style="width:70px; height:70px;" alt="connect"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/dashboard.png" style="width:70px; height:70px;" alt="dashboard">
                </div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/filter.png" style="width:70px; height:70px;" alt="filter"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/subscriber.png" style="width:70px; height:70px;" alt="subscriber">
                </div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue"></div>
            </div>

        </foreignObject>
    </svg> -->
        <svg id="capsule" viewBox="0 0 759 132" xmlns="http://www.w3.org/2000/svg"
            style="width: 757px; height: 131px; max-width: 90%;" class="md:w-[761px]">
            <rect class="capsule-path" x="1" y="1" width="755" height="129" rx="60" stroke="#BFBFBF" stroke-width="3"
                fill="#ffffff" filter="url(#capsuleShadow)" />

            <foreignObject x="35" y="10" width="689" height="96">
                <div xmlns="http://www.w3.org/1999/xhtml" id="image-container"
                    style="display:flex; gap:20px; align-items:center; justify-content:center; height:100%; position:relative; opacity:0; overflow:hidden;">
                    <div class="slot"><img src="/images/connect.png" style="width:70px; height:70px;" alt="connect">
                    </div>
                    <div class="separator"></div>
                    <div class="slot"><img src="/images/dashboard.png" style="width:70px; height:70px;" alt="dashboard">
                    </div>
                    <div class="separator"></div>
                    <div class="slot"><img src="/images/filter.png" style="width:70px; height:70px;" alt="filter"></div>
                    <div class="separator"></div>
                    <div class="slot"><img src="/images/subscriber.png" style="width:70px; height:70px;"
                            alt="subscriber">
                    </div>
                    <div class="separator"></div>
                    <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue">
                    </div>
                    <div class="separator"></div>
                    <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue">
                    </div>
                </div>
            </foreignObject>
        </svg>
        <!--  -->
        <!-- <div class="flex justify-center items-center">
        <svg width="598" height="111" viewBox="0 0 598 111" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="596" height="109" rx="54.5" stroke="#808080" stroke-width="2" />
        </svg>
    </div> -->
        <!--  -->


        }
        @if (isMobile) {
        <svg id="capsule" viewBox="0 0 760 808" xmlns="http://www.w3.org/2000/svg"
            style="width: 760px; height: 130px; max-width: 100%;">
            <path class="capsule-path" d="M100,5 h560 a100,60 0 0 1 0,120 h-560 a100,60 0 0 1 0,-120 z" stroke="#BFBFBF"
                stroke-width="1.6" fill="#ffffff" filter="url(#capsuleShadow)" />
            <foreignObject x="55" y="20" width="650" height="90">
                <div xmlns="http://www.w3.org/1999/xhtml" id="image-container">
                    <div class="mobile-layout">
                        <div class="slot"><img src="/images/connect.png" style="width:70px; height:70px;" alt="connect">
                            <div class="separator"></div>
                            <img src="/images/dashboard.png" style="width:70px; height:70px;" alt="dashboard">
                        </div>
                        <div class="slot"><img src="/images/filter.png" style="width:70px; height:70px;" alt="filter">
                            <div class="separator"></div>
                            <img src="/images/subscriber.png" style="width:70px; height:70px;" alt="subscriber">
                        </div>

                        <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue">
                            <div class="separator"></div>
                            <img src="/images/revenue.png" style="width:70px; height:70px;" alt="revenue">
                        </div>
                    </div>
                </div>
            </foreignObject>
        </svg>
        }
    </div>


    <div id="section100" class="w-full">
        <!-- md:pt-35 lg:pt-45 -->
        <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative pb-8 gap-y-15 pb-16 lg:pb-20 ">
            <div class="flex justify-center items-center">
                <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                    <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                    </div>
                    <div
                        class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                    </div>
                    <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                        <div class=" text-yellow-400">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                    <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                    </div>
                    <div
                        class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                    </div>
                    <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                        <div class=" text-yellow-400">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                    <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                    </div>
                    <div
                        class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                    </div>
                    <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                        <div class=" text-yellow-400">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                    <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                    </div>
                    <div
                        class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                    </div>
                    <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                        <div class=" text-yellow-400">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                    <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                    </div>
                    <div
                        class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                    </div>
                    <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                        <div class=" text-yellow-400">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
                    <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
                    </div>
                    <div
                        class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

                    </div>
                    <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
                        <div class=" text-yellow-400">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>



        </div>
        <div class="w-full relative min-h-[50vh] pb-10 flex justify-center items-center">
            <div
                class="relative w-[80%] lg:max-w-3xl h-[45vh] lg:h-[52vh] rounded-2xl shadow-xl overflow-hidden bg-black">

                @if (!isVideoLoaded) {
                <div class="absolute inset-0 cursor-pointer group" (click)="loadVideo()">
                    <img src="./images/video-placeholder.webp" alt="Video Placeholder" alt="Video Placeholder"
                        width="1280" height="720" loading="eager" decoding="async"
                        class="absolute inset-0 w-full h-full object-cover transition duration-300 group-hover:brightness-90">
                    <div class="absolute inset-0 flex items-center justify-center">
                        <div
                            class="w-20 h-20 bg-white/70 rounded-full flex items-center justify-center transition group-hover:scale-110">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-black" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path
                                    d="M6.79 5.093a.5.5 0 0 1 .79.407v4.998a.5.5 0 0 1-.79.407L3.5 8.972a.5.5 0 0 1 0-.944l3.29-1.935z" />
                            </svg>
                        </div>
                    </div>
                </div>
                }

                @if (isVideoLoaded) {
                <iframe class="absolute inset-0 w-full h-full rounded-2xl" [src]="safeVideoUrl" title="Company Video"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                }
            </div>
        </div>

    </div>
</section>