<section id="section5">
    <p id="Text1" class="mx-auto text-center my-30">
        .Thousends of companys use our apps to power their digital experiences
    </p>
    <svg id="capsule" viewBox="0 0 800 240" xmlns="http://www.w3.org/2000/svg"
        style="width: 100%; height: auto; max-width: 1000px; min-width: 100px;">

        <path d="M780,120
       A100,100 0 0 1 680,220
       H120
       A100,100 0 0 1 120,20
       H680
       A100,100 0 0 1 780,120
       Z" stroke="#000" class="capsule-path" stroke-width="3" fill="none" />
        <foreignObject x="50" y="20" width="700" height="180">
            <div xmlns="http://www.w3.org/1999/xhtml" id="image-container"
                style="display:flex; gap:20px; align-items:center; justify-content:center; height:100%; position:relative; overflow:hidden;">
                <div class="slot"><img src="/images/connect.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/dashboard.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/filter.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/subscriber.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;"></div>
                <div class="separator"></div>
                <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;"></div>
            </div>
        </foreignObject>


    </svg>
</section>