  #Text5 {
      transform: translateY(200px);
      opacity: 0;
      color: var(--primary);
  }

  #capsule {
      display: block;
  }

  .capsule-path {
      stroke-width: 3;
      fill: none;
      opacity: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
  }

  .img-item {
      position: relative;
      opacity: 1;
      transform: translateY(0);
  }

  #image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
  }

  .slot {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .separator {
      width: 4px;
      height: 70px;
      background-color: #FFD700;
      border-radius: 2px;
  }

  span {
      color: var(--primary);
  }

  .stars span {
      color: var(--secondary);
  }
  #capsule {
      display: block;
      filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.08));
  }

  .desktop-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 45px;
  }

  .slot img {
      width: 80px;
      height: auto;

  }