<section id="About-Section2" class="relative w-full min-h-screen flex flex-col justify-center items-center gap-10">
    <div class="flex justify-center items-center flex-col gap-2">
        <h1 id="About-Section2-title"
            class="text-white text-[0.8rem]  md:text-[1rem] lg:text-[1.4rem] xl:text-[1.6rem] font-bold"> المتمم
            مصمم
            خصيصا لتوفير
            الابتكار مع
            القوة والفعالية
            والكفاءة العالية،
        </h1>
        <p id="About-Section2-title2"
            class="text-[var(--secondary)] text-[0.8rem]  md:text-[1rem] lg:text-[1.4rem] xl:text-[1.6rem] font-bold">
            وهذا لتوفير
            أداء استثنائي.</p>
        <p id="About-Section2-title3"
            class="text-white text-[0.6rem]  md:text-[0.8rem] lg:text-[1rem] xl:text-[1.2rem] font-bold"> حلق باعمالك
            بعيدا إلى
            آفاق جديدة وتمتع بتجربة ادارة اعمال سلسة وممتعة.</p>

    </div>
    <div class="absolute w-full h-full inset-0 left-0 right-0 top-0 -z-10 overflow-hidden">
        <video id="About-Section2-video" src="./About us/asset.mp4" class="left-0 right-0 w-full absolute -z-1" muted
            playsinline></video>
    </div>
</section>