#productSection8-title,
#productSection8-list li,
#productSection8-footer {
    opacity: 0;
    visibility: hidden;
}

#productSection8 {
    background-color: white;
}

#productSection8-img {
    opacity: 0;
}