<section id="productSection8"
    class="relative w-full min-h-screen sm:h-screen flex flex-col md:flex-row items-center justify-center md:justify-between gap-10 md:gap-0 px-6 lg:px-20 pt-15 sm:pt-20 md:pt-10">
    <div class="w-full text-center sm:text-start z-10">
        <h1 id="productSection8-title"
            class="text-[1.2rem] md:text-[1.5rem] lg:text-[1.88rem] xl:text-[2rem] font-bold text-[var(--primary)]">
            {{ 'PRODUCTS.SECTION8.TITLE' | translate }}
        </h1>
        <ul id="productSection8-list"
            class="mt-3 space-y-2 xl:0 text-[0.8rem] md:text-[0.9rem] lg:text-[1rem] xl:text-[1.2rem] text-[var(--dark-gray)] md:max-w-[26rem] lg:max-w-[30rem] xl:max-w-[40rem] list-disc ps-6 ms-[0.5rem] md:ps-5 ">
            <li>
                <span class="font-bold">{{ 'PRODUCTS.SECTION8.LIST.ITEM1.BOLD' | translate }}</span>
                {{ 'PRODUCTS.SECTION8.LIST.ITEM1.TEXT' | translate }}
            </li>
            <li>
                <span class="font-bold">{{ 'PRODUCTS.SECTION8.LIST.ITEM2.BOLD' | translate }}</span>
                {{ 'PRODUCTS.SECTION8.LIST.ITEM2.TEXT' | translate }}
            </li>

            <li>
                <span class="font-bold">{{ 'PRODUCTS.SECTION8.LIST.ITEM3.BOLD' | translate }}</span>
                {{ 'PRODUCTS.SECTION8.LIST.ITEM3.TEXT' | translate }}
            </li>

            <li>
                <span class="font-bold">{{ 'PRODUCTS.SECTION8.LIST.ITEM4.BOLD' | translate }}</span>
                {{ 'PRODUCTS.SECTION8.LIST.ITEM4.TEXT' | translate }}
            </li>

            <li>
                <span class="font-bold">{{ 'PRODUCTS.SECTION8.LIST.ITEM5.BOLD' | translate }}</span>
                {{ 'PRODUCTS.SECTION8.LIST.ITEM5.TEXT' | translate }}
            </li>

        </ul>

        <p id="productSection8-footer"
            class="mt-6 text-[0.8rem] md:text-[0.9rem] lg:text-[1rem] xl:text-[1.2rem] font-bold text-[var(--primary)]">
            {{ 'PRODUCTS.SECTION8.FOOTER' | translate }}
        </p>
        <div class="w-full">
            <button appOpenFormDialog
                class="bg-[#F4B942] mt-2 px-8 md:px-10 py-3 rounded-full font-bold text-[0.55rem] lg:text-[0.87rem] xl:text-[1.1rem] text-[var(--dark-gray)] hover:scale-105 transition mx-auto">
                {{ 'PRODUCTS.SECTION8.CTA' | translate }}
            </button>
        </div>
    </div>

    <div class="absolute w-full md:h-full inset-0 left-0 right-0 top-0 -z-10 overflow-hidden">
        <img id="productSection8-img" src="./product/white.webp"
            class="left-0 right-0 md:h-[100vh] w-full absolute -z-1 object-contain bottom-0 md:object-fill">
    </div>
</section>