#productSection8-title,
#productSection8ListSplit,
#productSection8FooterSplit {
    opacity: 0;
    visibility: hidden;
}

#productSection8 {
    background-color: white;
}

#productSection8-img {
    opacity: 0;
}