.indicator {
    opacity: 0;
}

.dot.active {
    background: none;
    position: relative;
}

.dot.active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    background-image: url('/images/custom_cursor_fixed.cur');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.dot-label.active {
    color: #FFD166;
    transition: all 0.3s ease;
}

.group:hover .dot-label {
    opacity: 1;
    visibility: visible;
}

.group:hover .dot.active~.dot-label {
    color: #FFD166;
}