<section class="bg-white text-slate-900 pt-15" [attr.dir]="(Lang === 'ar' ? 'rtl' : 'ltr')">
  <div class="mx-auto w-full max-w-5xl px-4 sm:px-6 lg:px-8 py-10">

    <p class="italic text-sm sm:text-base leading-relaxed text-slate-700">
      {{ 'privacy.intro' | translate }}
    </p>

    <div class="mt-8">
      <h2 class="text-2xl sm:text-3xl font-semibold tracking-tight">
        {{ 'privacy.voluntary.title' | translate }}
      </h2>
      <p class="mt-2 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.voluntary.body' | translate }}
      </p>
    </div>

    <div class="mt-8">
      <h2 class="text-2xl sm:text-3xl font-semibold tracking-tight">
        {{ 'privacy.cookies.title' | translate }}
      </h2>
      <p class="mt-2 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.cookies.body' | translate }}
      </p>
    </div>

    <div class="mt-8">
      <h2 class="text-2xl sm:text-3xl font-semibold tracking-tight">
        {{ 'privacy.browser.title' | translate }}
      </h2>
      <p class="mt-2 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.browser.body' | translate }}
      </p>
    </div>

    <div class="mt-8">
      <h2 class="text-2xl sm:text-3xl font-semibold tracking-tight">
        {{ 'privacy.use.title' | translate }}
      </h2>

      <p class="mt-2 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.use.p1' | translate }}
      </p>

      <p class="mt-4 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.use.p2' | translate }}
      </p>

      <p class="mt-4 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.use.p3' | translate }}
      </p>

      <p class="mt-4 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.use.p4' | translate }}
      </p>

      <p class="mt-4 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.use.p5' | translate }}
      </p>

      <p class="mt-4 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.use.p6' | translate }}
      </p>

      <p class="mt-6 text-sm sm:text-base leading-7 text-slate-700">
        {{ 'privacy.use.children' | translate }}
      </p>
    </div>

    <p class="mt-10 italic text-base sm:text-lg text-slate-700">
      {{ 'privacy.footer' | translate }}
    </p>

  </div>
</section>