#erp {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Amiri", "Noto Naskh Arabic", serif;
    text-align: center;
    white-space: nowrap;
    perspective: 800px;
}

.word {
    display: inline-block;
    transform-origin: center center;
    transform-style: preserve-3d;
}

/* خليه hidden في البداية عشان GSAP */
#solutionsSection4-TITLE {
    opacity: 0;
    visibility: hidden;
}

.capsule-solutionsRect {
    opacity: 0;
    visibility: hidden;
}

/* wrapper */
.capsule-solutions-wrap {
    position: relative;

    &[dir="rtl"] {
        width: min(620px, 88vw);
    }

    &[dir="ltr"] {
        width: min(687px, 88vw);
    }

    /* ✅ أصغر بكتير */
    aspect-ratio: 759 / 132;
    margin-top: 1.5rem;
    display: grid;
    place-items: center;
}

/* svg fills wrapper */
#capsule-solutions {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

/* title centered فوق الـ svg */
.capsule-solutions-title {
    position: relative;
    z-index: 2;
    margin: 0;
    text-align: center;
    line-height: 1.25;

    padding: 0 18px;
    /* عشان النص مايلمسش الحدود */

    &[dir="rtl"] {
        max-width: 92%;
    }

    &[dir="ltr"] {
        max-width: 100%;
    }

    color: var(--primary);
    font-weight: 800;
    pointer-events: none;
    /* عشان ما يأثرش على سكرول/كليك */
    word-break: keep-all;
}

/* responsive font sizes */
@media (min-width: 1024px) {
    .capsule-solutions-title {
        font-size: 1.9rem;
    }
}

@media (max-width: 1023px) {
    .capsule-solutions-title {
        font-size: 1.7rem;
    }
}

@media (max-width: 767px) {
    .capsule-solutions-wrap {
        // width: min(680px, 94vw);

        &[dir="rtl"] {
            width: min(680px, 94vw);
        }

        &[dir="ltr"] {
            width: min(747px, 94vw);
        }
    }

    .capsule-solutions-title {
        font-size: 1.25rem;
        padding: 0 18px;
    }
}

@media (max-width: 420px) {
    .capsule-solutions-title {
        font-size: 1.05rem;
        padding: 0 14px;
    }
}

#solutionsSection4-Detailes {
    // transform: translateY(200px);
    color: var(--dark-gray);
    opacity: 0;
    visibility: hidden;
}