<div
    class="flex flex-col justify-center md:justify-evenly items-center  min-h-[110vh]  md:min-h-screen pt-[40px] md:pt-[30px]">
    <p
        class="font-bold text-[1rem] md:text-[1.2rem] lg:text-[1.4rem] xl:text-[1.6rem] text-[var(--primary)] w-[80%] text-center md:pt-[40px] md:mt-[40px]">
        هذا يعني أن البيانات تتدفق بسلاسة بين الإدارات المختلفة بغض النظر عن القطاع، فتتخذ قرارات أسرع وتتفادى الأخطاء
        الناتجة عن نقل البيانات يدويًا.
    </p>
    <div class="flex justify-center items-center flex-col md:flex-row">
        <div>
            <img src="./solutions/0b6bb1e6-b281-4078-abe0-533dfadc6052 copy.jpg"
                class="w-[381px] xl:h-[500px] xl:w-[500px] h-[381px]" alt="" srcset="">
        </div>
        <div id="solutionsSection4Bottom" #solutionsSection4Bottom class="Soultions4-carousel ">
            <div class="controls">
                <button id="arrowUP" class="arrow right" aria-label="التالي">
                    <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5 0L0 19.9806H23L11.5 0Z" fill="#D9D9D9" />
                    </svg>
                </button>

                <button id="arrowDown" class="arrow left" aria-label="السابق">
                    <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5 21L23 0H0L11.5 20Z" fill="#D9D9D9" />
                    </svg>
                </button>
            </div>

            <!-- <div #swiperEl class="swiper" dir="rtl">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let s of sectors">
                        <div class="card py-[15px]">
                            <div class="text-content solution4-pill flex-col w-full justify-start">
                                <h3 style="
                                    display: inline-block;
    position: absolute;
    top: -18px;
    z-index: 10;
    background: white;
    padding: 0px 6px;">{{ s.title }}</h3>
                                <p>{{ s.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
<div #swiperEl class="swiper" dir="rtl">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let group of groupedSectors">
      <div
        class="card py-[15px]"
        *ngFor="let s of group"
      >
        <div class="text-content solution4-pill flex-col w-full justify-start">
          <h3
            style="
              display: inline-block;
              position: absolute;
              top: -18px;
              z-index: 10;
              background: white;
              padding: 0px 6px;
            "
          >
            {{ s.title }}
          </h3>
          <p>{{ s.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


        </div>



    </div>
</div>