#erp {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Amiri", "Noto Naskh Arabic", serif;
    text-align: center;
    white-space: nowrap;
    perspective: 800px;
}

.word {
    display: inline-block;
    transform-origin: center center;
    transform-style: preserve-3d;
}

#capsule4 {
    background-color: transparent;
}

.capsule-path4 {
    opacity: 0;
    visibility: hidden;
}


#solutionsSection4-Detailes {
    // transform: translateY(200px);
    color: var(--dark-gray);
    opacity: 0;
    visibility: hidden;
}