<div id="products">
    <app-product-section1 class="panel min-h-screen" data-bgcolor="var(--primary)"
        data-textcolor="var(--white)"></app-product-section1>
    <app-product-section7 class="panel min-h-screen" data-bgcolor="var(--white)"
        data-textcolor="var(--primary)"></app-product-section7>
    <app-product-section2 class="panel min-h-screen" data-bgcolor="var(--white)"
        data-textcolor="var(--primary)"></app-product-section2>

    <app-product-section3 class="panel min-h-screen" data-bgcolor="var(--primary)"
        data-textcolor="var(--white)"></app-product-section3>

    <app-product-section4 class="panel min-h-screen" data-bgcolor="var(--primary)"
        data-textcolor="var(--white)"></app-product-section4>

    <app-product-section5 class="panel min-h-screen" data-bgcolor="var(--white)"
        data-textcolor="var(--primary)"></app-product-section5>

    <app-product-section6 class="panel min-h-screen" data-bgcolor="var(--primary)"
        data-textcolor="var(--white)"></app-product-section6>
    <app-product-section8 class="panel min-h-screen" data-bgcolor="var(--white)"
        data-textcolor="var(--primary)"></app-product-section8>
</div>