// .cards {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   justify-content: center;
//   align-items: center;
//   padding: 40px;
//   width: 70%;
//   margin: auto;
// }

// .card {
//   width: 200px;
//   height: 200px;
//   background: linear-gradient(135deg, #2d398d, #4c5ce6);
//   color: white;
//   font-size: 2rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 20px;
//   opacity: 0;
//   transform: translateX(50px);
// }
///// #Text1{
/////     font-size: xx-large;
/////     transform: translateY(100px);
/////     opacity: 0;
/////     font-size: 1.5rem;
///// }
///
///// #capsule {
/////   display: block;
/////   margin: 50px auto;
///// }
///
///// .capsule-path {
/////   stroke: #000;
/////   stroke-width: 3;
/////   fill: none;
/////   opacity: 0;
///// }
///// .img-item {
/////   position: relative;
/////   opacity: 1;
/////   transform: translateY(0);
///// }
///// #image-container {
/////   display: flex;
/////   align-items: center;
/////   justify-content: center;
/////   height: 100%;
/////   position: relative;
/////   overflow: hidden;
/////   opacity: 0;
///// }
///
///// .slot {
/////   display: flex;
/////   align-items: center;
/////   justify-content: center;
/////   padding: 0 10px;
///// }
///
///// .separator {
/////   width: 4px;             
/////   height: 70px;            
/////   background-color: #FFD700; 
/////   border-radius: 2px;      
///// }
 #Text1{
     font-size: xx-large;
     opacity: 0;
     font-size: 1.5rem;
 }
 .cards{
  margin: auto;
  display: flex;
justify-content: center; }
 .card{
  text-align: center;
  padding: 5px;
  padding-top: 100px;
  opacity: 0;
  width: 200px;
  height: 50vh;
 }
 .card1{
    position: absolute;
    background: rgb(0, 183, 255);
    z-index: -1;
 }
 .card1.active {
  transform: translateX(0);
}
 .card2{
  position: absolute;
    background: rgb(208, 255, 0);
 }
 .card3{
  position: absolute;
    background: rgb(255, 196, 0);
        z-index: -1;
 }