<!--جيمع التطبيقات التي تغطي  عملك-->
<!-- <p class="mx-auto text-center my-30">
    GSAP STAGGER EXAMPLE TEXT
</p><div class="cards">

      <div class="card">1</div>
  <div class="card">2</div>
  <div class="card">3</div>
  <div class="card">4</div>

  


    <div class="card">5</div>
  <div class="card">6</div>
  <div class="card">7</div>
  <div class="card">8</div>




</div> -->


<!-- <svg id="capsule" width="400" height="120" viewBox="0 0 400 120" fill="none"
     xmlns="http://www.w3.org/2000/svg">
  <path
    d="M60,10 
       H340 
       A50,50 0 0 1 340,110 
       H60 
       A50,50 0 0 1 60,10 
       Z"
    stroke="#000"
    stroke-width="3"
    fill="none"
  />
</svg> -->

<!-- <svg id="capsule" width="400" height="120" viewBox="0 0 400 120" fill="none"
     xmlns="http://www.w3.org/2000/svg">
  <path
    d="M340,10
       A50,50 0 0 1 340,110
       H60
       A50,50 0 0 1 60,10
       H340
       Z"
    class="capsule-path"
  />
</svg> -->

<!-- <svg id="capsule"
     width="800"
     height="240"
     viewBox="0 0 800 240"
     fill="none"
     xmlns="http://www.w3.org/2000/svg">

  <path
    d="M780,120
       A100,100 0 0 1 680,220
       H120
       A100,100 0 0 1 120,20
       H680
       A100,100 0 0 1 780,120
       Z"
    stroke="#000"
    stroke-width="3"
    fill="none"
  />
</svg> -->
<!-- <svg id="capsule"
     viewBox="0 0 800 240"
     fill="none"
     xmlns="http://www.w3.org/2000/svg"
     style="width: 100%; height: auto; max-width: 1000px;min-width: 100px;">

  <path
    d="M780,120
       A100,100 0 0 1 680,220
       H120
       A100,100 0 0 1 120,20
       H680
       A100,100 0 0 1 780,120
       Z"
class="capsule-path"
    fill="none"
  />
</svg> -->




<!-- <path
  d="M780,120 
     A100,60 0 0 1 680,180 
     H120 
     A100,60 0 0 1 120,60 
     H680 
     A100,60 0 0 1 780,120 
     Z"
         stroke="#000"
    class="capsule-path"
    stroke-width="3"
    fill="none"
/> -->

<!-- المحتوى الداخلي -->
<!-- <foreignObject x="100" y="50" width="600" height="140">
    <div xmlns="http://www.w3.org/1999/xhtml"
         style="display:flex; align-items:center; justify-content:center; height:100%;">
<div class="flex gap-2">

    <div><img src="/images/active-services.png" alt=""></div>

    <div><img src="/images/connect.png" alt=""></div>
    <div><img src="/images/dashboard.png" alt=""></div>
    <div><img src="/images/filter.png" alt=""></div>
    <div><img src="/images/subscriber.png" alt=""></div>

    <div><img src="/images/merchant-onboarding.png" alt=""></div>
    <div><img src="/images/more_horiz.png" alt=""></div>
    <div><img src="/images/reports-analytics.png" alt=""></div>
    <div><img src="/images/service.png" alt=""></div>
    <div><img src="/images/revenue.png" alt=""></div>

</div>
    </div>
  </foreignObject> -->

<!-- animation 2 text and celender -->
<!-- <p id="Text1" class="mx-auto text-center my-30">
    .Thousends of companys use our apps to power their digital experiences
</p>
<svg id="capsule"
     viewBox="0 0 800 240"
     xmlns="http://www.w3.org/2000/svg"
     style="width: 100%; height: auto; max-width: 1000px; min-width: 100px;">

  <path
    d="M780,120
       A100,100 0 0 1 680,220
       H120
       A100,100 0 0 1 120,20
       H680
       A100,100 0 0 1 780,120
       Z"
    stroke="#000"
    class="capsule-path"
    stroke-width="3"
    fill="none"
  />
  <foreignObject x="50" y="20" width="700" height="180">
  <div xmlns="http://www.w3.org/1999/xhtml" id="image-container"
       style="display:flex; gap:20px; align-items:center; justify-content:center; height:100%; position:relative; overflow:hidden;">
    <div class="slot"><img src="/images/connect.png" style="width:70px; height:70px;"></div>
        <div class="separator"></div>
    <div class="slot"><img src="/images/dashboard.png" style="width:70px; height:70px;"></div>
        <div class="separator"></div>
    <div class="slot"><img src="/images/filter.png" style="width:70px; height:70px;"></div>
        <div class="separator"></div>
    <div class="slot"><img src="/images/subscriber.png" style="width:70px; height:70px;"></div>
        <div class="separator"></div>
    <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;"></div>
        <div class="separator"></div>
    <div class="slot"><img src="/images/revenue.png" style="width:70px; height:70px;"></div>
  </div>
</foreignObject>


</svg> -->

<div class="h-screen bg-blue-200"></div>
<div id="section50" class="h-screen w-full flex flex-col justify-center items-center bg-green-200"> 
      <svg id="capsule" viewBox="0 0 759 132" xmlns="http://www.w3.org/2000/svg"
        style="width: 757px; height: 131px; max-width: 90%;" class="md:w-[761px] mt-10 scale-150">
        <path class="capsule-path" d="M100,5 
         h560 
         a100,60 0 0 1 0,120 
         h-560 
         a100,60 0 0 1 0,-120 
         z" stroke="#BFBFBF" stroke-width="3" fill="#00000000" filter="url(#capsuleShadow)" />

        <foreignObject x="35" y="10" width="689" height="96">
   
<div class="text-center">
  <P id="section50-TITLE">  هذا نص عربي تجريبي يستخدم كبديل مؤقت للنص الحقيقي في التصميم.</P>
          <p id="section50-details"
            class="mt-4 pe-5  text-[var(--dark-gray)] md:text-[1rem] lg:text-[1.2rem] xl:text-[1.9rem] md:text-base leading-relaxed font-normal">
  هذا نص عربي تجريبي يستخدم كبديل مؤقت للنص الحقيقي في التصميم.  هذا نص عربي تجريبي يستخدم كبديل مؤقت للنص الحقيقي في التصميم.
        </p>
</div>
        </foreignObject>
    </svg>
    <div id="section50Bottom" class="bg-red-700 w-[80%] flex justify-center items-center ">
<div class=" w-[100px] h-[100px] bg-blue-600">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, non.</p>
</div>
<div class=" w-[100px] h-[100px] bg-blue-600">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, non.</p>
</div>
<div class=" w-[100px] h-[100px] bg-blue-600">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, non.</p>
</div>
<div class=" w-[100px] h-[100px] bg-blue-600">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, non.</p>
</div>
    </div>

     <div class="carousel overflow-hidden">
    <div #track class="carousel-track">
      <div class="card bg-red-500">1</div>
      <div class="card bg-green-500">2</div>
      <div class="card bg-blue-500">3</div>
      <div class="card bg-yellow-500">4</div>
      <div class="card bg-blue-500">5</div>
      <div class="card bg-yellow-500">6</div>
      <div class="card bg-blue-500">7</div>
      <div class="card bg-yellow-500">8</div>
      <div class="card bg-blue-500">9</div>
    </div>
  </div>
</div>
<!-- <app-section10></app-section10> -->
<div class="h-screen bg-red-200"></div>
<!-- <div id="section10" class="min-h-[140vh] bg-white">
  <div id="section10TOP"
    class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative pb-8 gap-y-15 pb-16 lg:pb-20 md:pt-35 lg:pt-45 min-h-[80vh] bg-white"> -->
    <!-- <div class="relative bg-red-900 flex justify-center items-center">
      <div class="w-[250px] h-[140px] bg-sky-700 absolute top-0 rounded-2xl">
        <div class="flex space-x-1 text-yellow-400 text-xl flex justify-center items-center pt-10">
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
          <span>★</span>
        </div>
      </div>
      <div
        class="bg-red-700 w-[60px] h-[60px] absolute rounded-full top-[-24px] border-4 border-black mask-clip-border">

      </div>
    </div> -->
<!-- 
    <div class="flex justify-center items-center">
      <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
        <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
        </div>
        <div
          class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

        </div>
        <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
          <div class=" text-yellow-400"> <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
        <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
        </div>
        <div
          class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

        </div>
        <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
          <div class=" text-yellow-400"> <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
        <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
        </div>
        <div
          class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

        </div>
        <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
          <div class=" text-yellow-400"> <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
        <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
        </div>
        <div
          class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

        </div>
        <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
          <div class=" text-yellow-400"> <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
        <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
        </div>
        <div
          class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

        </div>
        <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
          <div class=" text-yellow-400"> <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="relative w-[260px] h-[150px] flex flex-col items-center justify-end pb-6">
        <div class="absolute inset-0 bg-[var(--light-light-gray)] rounded-2xl shadow-md 
                before:content-[''] before:absolute before:w-[80px] before:h-[80px]
                before:bg-pink-200 before:rounded-full before:top-[-40px] before:left-1/2 before:-translate-x-1/2">
        </div>
        <div
          class="bg-white w-[70px] h-[70px] absolute rounded-full top-[-35px] border-4 border-[var(--light-light-gray)] mask-clip-border">

        </div>
        <div class="relative flex flex-col justify-between items-center text-center space-x-1 text-xl">
          <div class=" text-yellow-400"> <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>



  </div>
  <div id="section10BOTTOM" class="w-full relative min-h-[50vh] pb-10 flex justify-center items-center">
    <div class="relative w-[80%] lg:max-w-3xl h-[45vh] lg:h-[52vh] rounded-2xl shadow-xl overflow-hidden">
      <img src="assets/images/video-placeholder.jpg" alt="Video Placeholder"
        class="absolute inset-0 w-full h-full object-cover">
      <iframe class="absolute inset-0 w-full h-full rounded-2xl"
        src="https://www.youtube.com/embed/inlofWRsKxU?si=kT-Q06MH-K2avMOy&amp;controls=0" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        sandbox="allow-scripts allow-same-origin allow-forms allow-popups  allow-presentation"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div> -->

<!-- <div class="w-full relative min-h-[50vh]  pb-10">

    <video id="hero-video" autoplay muted loop playsinline poster="assets/images/video-placeholder.jpg"
      class="w-[80%] mx-autolg:max-w-3xl h-[45vh] lg:h-[52vh] mx-auto rounded-2xl shadow-xl object-cover">
      <source src="assets/video/hero.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div> -->
<!-- <img src="assets/images/video-placeholder.jpg" alt="Video Placeholder"
        class="absolute inset-0 w-full h-full object-cover" loading="lazy" decoding="async" />


      @if(isBrowser){
      <ng-container>
        <iframe class="absolute inset-0 w-full h-full rounded-2xl opacity-0 transition-opacity duration-700"
          [class.opacity-100]="isBrowser"
          src="https://www.youtube-nocookie.com/embed/inlofWRsKxU?autoplay=1&mute=1&controls=1&loop=1&playlist=inlofWRsKxU"
          title="GSAP video player" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
          sandbox="allow-scripts allow-same-origin allow-presentation"
          referrerpolicy="no-referrer-when-downgrade"></iframe>


      </ng-container>
      } -->
<!-- <app-vedio-player-ssr [videoUrl]="'https://www.youtube-nocookie.com/embed/inlofWRsKxU'"></app-vedio-player-ssr> -->







<!-- <div class="h-screen bg-red-200"></div>
<div id="section3" class="h-screen">
  <p id="Text1" class="mx-auto text-center py-35">
    هذا نص تجريبي لانميشن انسيابي باللغه العربيه
  </p>

  <section id="stats-section" class="stats">
  <div class="stats-grid">
    <div class="stat-row stat-row1 text-center">
<div class="num"><span class="counter" data-target="1250">0</span></div>
      <div class="label">  هذا نص تجريبي لانميشن </div>
    </div>
    <div class="stat-card stat-card3">
<div class="num"><span class="counter" data-target="1250">0</span></div>
      <div class="label"> هذا نص تجريبي لانميشن</div>
    </div>
    <div class="stat-card  stat-card4">
      <div class="counter" data-target="37">0</div>
      <div class="label"> هذا نص تجريبي لانميشن</div>
    </div>
  </div>

  <button class="cta-btn"> هذا نص تجريبي لانميشن </button>
</section>
</div>
<div class="h-screen bg-blue-200"></div> -->