#consultation-title,
#consultation-subtitle,
#consultation-details,
#button1,
#consultation-footer {
    opacity: 0;
    visibility: hidden;
}

#solutionsSection6 {
    background-color: transparent;
}