<section id="consultation"
    class="relative w-full h-screen flex flex-col-reverse md:flex-row items-center justify-center md:justify-between gap-10 md:gap-0 md:ps-20 pt-15 md:pt-10 text-white">
    <div class="w-full md:w-[63.5%] relative text-center md:text-start z-10 px-6 md:px-0">
        <h1 id="consultation-title"
            class="text-[1.2rem] md:text-[1.5rem] lg:text-[2rem] xl:text-[2.2rem] font-bold leading-snug text-[#F4B942]">
            {{ 'SOLUTIONS.CONSULTATION.TITLE' | translate }}
        </h1>

        <p id="consultation-subtitle"
            class="mt-4  md:text-[1rem] xl:text-[1.3rem] md:text-base leading-relaxed font-normal">
            {{ 'SOLUTIONS.CONSULTATION.SUB-TITLE' | translate }}
        </p>

        <p id="consultation-details"
            class="mt-4 rtl:pe-19 ltr:ps-19  md:text-[1rem] xl:text-[1.3rem] md:text-base leading-relaxed font-bold">
            {{ 'SOLUTIONS.CONSULTATION.DETAILS' | translate }}
        </p>
        <div class="mt-8 flex flex-col sm:flex-row justify-center md:justify-start gap-4">
            <a appOpenFormDialog id="button1"
                class="bg-[#F4B942] hover:bg-[var(--secondary)] text-[#58595B] px-6 py-3 rounded-full text-sm font-semibold shadow-md transition">
                {{ 'SOLUTIONS.CONSULTATION.BTN1' | translate }}
            </a>
        </div>
        <p id="consultation-footer" class="mt-4  md:text-[0.8rem] lg:text-[0.9rem]  xl:text-[1.3rem]  font-normal">
            {{ 'SOLUTIONS.CONSULTATION.FOOTER' | translate }}
        </p>
    </div>


    <div class="relative md:contents">
        <div class="w-full md:w-[43.5%] h-full relative z-0 realtive flex items-center justify-center overflow-hidden ">
            <div class="absolute md:left-[-15px] md:bottom-[-11%] ">
                <img src="./solutions/CONSULTATION.svg" class="w-[406px] xl:h-[600px] xl:w-[500px] h-[501px]" alt=""
                    srcset="">
            </div>
        </div>
        <div class="absolute w-full h-full inset-0 md:left-0 right-0 md:top-0 -z-10">
            <video src="./solutions/Comp 22.mp4" class="md:left-0 right-0 w-full h-full object-cover bottom-0 absolute"
                autoplay muted playsinline loop></video>
        </div>
    </div>


</section>